[2021-06-16 16:35] aineniamh commented on #250
Thanks, fixed now!

[2021-06-16 16:35] #250 closed

[2021-06-16 16:50] shelby-bennett opened #251 "Potential incorrect assignment of B.1.526.1"
Hello,

I have noticed potential incorrect lineage assignment of a couple of samples that were previously classified as B.1.526.1. With the most recent update (v3.1.1), they are now being classified as B.1.526. All three of these samples have  characteristic mutations seen in B.1.526.1 that are not present in B.1.526. In particular, S:L452R, S:F157S, S:D614G,S:T859N,S:D950H were present in all thr

[2021-06-16 16:56] aineniamh commented on #251
Hi @shelby-bennett, there was a recent discussion on pango-designation about these lineages and sublineages have since been merged into the parent: https://github.com/cov-lineages/pango-designation/issues/45

I think this is the desired output as sublineages were not being robustly distinguished and from an epidemiological point of view seem to have very similar properties. Hope this helps clear i

[2021-06-16 16:56] #251 closed

[2021-06-16 17:34] shelby-bennett commented on #251
@aineniamh Thank you! This definitely clears things up.

[2021-06-16 23:28] jwni2018 opened #252 "pango-designation version mismatch"
I did the pangolin build using pango-designation v1.2.14 but pangolin -dv reports v1.2.13.

[2021-06-17 08:43] rmcolq commented on #252
This is deliberate, although perhaps unclear - the pango-designation version installed should always be up to date to make sure that the aliases provided with `--aliases` are all provided. However the `-pv` gives the version of pango-designation trained on by pangoLEARN which may be a step behind. We will update the help to make this clear.

[2021-06-17 08:49] #243 closed

[2021-06-17 08:49] #241 closed

[2021-06-17 08:49] #230 closed

[2021-06-17 08:53] rmcolq commented on #210
This information is now provided in the `note` column in the form e.g. `scorpio call: Alt alleles 13; Ref alleles 0; Amb
alleles 0`. This SNP information is only provided for VOCs/VUIs through scorpio (it was only provided before for 3 lineages).

[2021-06-17 08:53] #210 closed

[2021-06-17 11:04] luenling opened #253 "Potential Problem assigning B.1.623 and B.1.621"
Dear Pangolin team,

When assigning lineages to patient samples with pangolin I stumbled over a cluster that looks like B.1.621 but was assigned B.1.623.
The mutations we find definitely fit the B.1.621 in GISAID and not B.1.623, so either the lineage definition was changed or something else went wrong. I uploaded the sequences to USHER (https://hgwdev-angie.gi.ucsc.edu/cgi-bin/hgPhyloPlace) and g

[2021-06-17 12:48] #252 closed

[2021-06-17 13:16] rmcolq commented on #168
This issue is now stale and so am closing it:
- VOC/VUI defining mutations can be found using scorpio (https://github.com/cov-lineages/scorpio) within pangolin
- Scorpio can also be used (outside of pangolin) to investigate lineage defining mutations for other lineages given a set of nucleotide mutations
- There is no plan to add further information to the pangolin output about the mutations used

[2021-06-17 13:16] #168 closed

[2021-06-17 13:23] rmcolq commented on #240
Just adding to the above: we have defined constellations for a number of VOCs/VUIs including B.1.351 (before it was only B.1.351, B.1.1.7 and P.1). In the latest pangolin output you should see something like this in the `note` column:
```scorpio call: Alt alleles 9; Ref alleles 0; Amb alleles 0```
I'm closing this issue as resolved but feel free to reopen if you have further problems.

[2021-06-17 13:23] #240 closed

[2021-06-17 13:27] rmcolq commented on #190
I can confirm that your sequence now gets B.1.617.2 in the latest release of pangolin and am closing the issue as resolved. Feel free to reopen if you have any further questions

[2021-06-17 13:27] #190 closed

[2021-06-17 13:32] rmcolq commented on #238
Hi @santoshe1 ! I think this is now probably a pango-designation issue and so am closing it.
The latest release of pangolin should hopefully solve the problem (especially if your samples are a VOC/VUI). Otherwise, please open an issue here https://github.com/cov-lineages/pango-designation/issues and ideally provide some GISAID accessions/ sequences names  or sequences and we can investigate specif

[2021-06-17 13:32] #238 closed

[2021-06-17 14:01] rmcolq commented on #215
I've added the change to dev branch - it will require scorpio to be update to release v0.3.1 as some constellation definition names are not file-name-friendly and this wasn't handled.

[2021-06-17 14:04] rmcolq commented on #203
I'm closing this issue as stale - please feel free to reopen if you are still having problems with this!

[2021-06-17 14:04] #203 closed

[2021-06-17 14:10] rmcolq commented on #199
This issue is resolved for this example in the latest release which assigns it B.1.617.2 on the basis of the scorpio call, so I'm going to close this issue

[2021-06-17 14:10] #199 closed

[2021-06-17 14:36] rmcolq commented on #99
Closing as stale - feel free to reopen if this is still causing a problem

[2021-06-17 14:36] #99 closed

[2021-06-17 14:38] rmcolq commented on #148
Hi @beauschaeffer - I'm closing this issue as stale, but feel free to reopen or start a new issue if you want more help

[2021-06-17 14:38] #148 closed

[2021-06-17 14:46] rmcolq commented on #253
Hi @luenling - I think this is a designation issue so I have copied it over there and am closing it here. I suspect we need to add some more sequences to the designation list to capture more of the diversity now present in B.1.621.

[2021-06-17 14:46] #253 closed

[2021-06-17 14:47] rmcolq commented on #215
This will be in the next release

[2021-06-17 14:47] #215 closed

[2021-06-17 20:43] luenling commented on #253
Dear Rachel @rmcolq,
I am not sure about that. As the two lineages are quite different in their mutations, I thought that was an issue of Pangolin - maybe something went wrong with the training set. Also Usher identified the sequences as B.1.621

All the best and thanks again,
Lukas

[2021-06-17 21:26] rmcolq commented on #253
Hi Lukas!

With your set of 10 sequences, when I run using the default pangoLEARN model it assigns B.1.623, but when I run pangolin using `pangolin --usher` it assigns B.1.621. As you say, when they are placed on a mutation annotated tree by usher, it is clear that they are B.1.621.

The main reason for misassignments by the (default) pangoLEARN model are down to the input training data. We build

[2021-06-21 19:37] victormaricato opened #254 "Usher or pangoLEARN?"
Starting in major version 3, `pangolin` supports using `--usher` instead of pangoLEARN.

Is Usher more reliable compared with the more fragile decision tree-based model? Are there any comparison metrics available?

[2021-06-22 09:03] KajOsman opened #255 "Unable to install constellations - repository not found"
Hi, I'm trying to install constellations so I can use the new pangolin update, scorpio installed fine, but when installing constellations using pip install git+https://github.com/cov-lineage/constellations.git it first asks for my username and password and then fails with a fatal error saying repository not found?  Is there something blindingly simple I'm just missing? Thanks in advance.

[2021-06-22 09:10] aineniamh commented on #255
Ah, I think there's a typo! It should be cov-lineages!

[2021-06-22 09:12] KajOsman commented on #255
Ah sorry - yes no I tried that too - turns out I had a version of 2.3.2 still hanging around - uninstalled that and it worked fine. Thanks and sorry to bother you!

[2021-06-22 10:05] aineniamh commented on #255
No worries, glad it's working now!

[2021-06-22 10:05] #255 closed

[2021-06-22 23:32] Seercire opened #256 "Pangolin command not found - conda install"
After performing a few conda installs I'm running into the same issue - after the install completes the pangolin executable is missing.  I performed a clone of the git repository about an hour ago and then ran the following commands /w output.

[code]

Am I doing something wrong here?

[2021-06-22 23:41] AngieHinrichs commented on #256
I think you also need to run 'pip install .' as described here: https://cov-lineages.org/pangolin_docs/installation.html

If that doesn't do the trick, do you get anything from "which pangolin"?

[2021-06-23 13:45] Seercire commented on #256
Yeah, I'm 100% the idiot here.  Doing that resolved these issues and a few other small things fixed my remaining problems.  Thanks!

[2021-06-23 13:45] #256 closed

[2021-06-23 14:57] dezordi opened #257 "Error in rule scorpio"
Hello,

Today I installed de pangolin 3.1.4, but when I try to run, the following error message appears:

[code]

when I tried to read the log error:

`more /tmp/tmpbsar4xty/logs/scorpio.log`

returns:

`more: stat of /tmp/tmpbsar4xty/logs/scorpio.log failed: No such file or directory`

I already used the previous versions of pangolin, but now I'm updating a workflow into a docker container and th

[2021-06-23 15:21] grovesn opened #258 "Could pangolin conda install wihtout needing git?"
We would like to use pangolin as part of our routine analysis for any "unclassified" genomes when we are looking at the VOC/VUI calls each day.
However, we can't install pangolin because to platform hosting the sequence data is locked down and cannot clone from github.

Is there any way it can be packaged so that it doesn't need to fetch from git?
(I'm sure you have bigger priorities but just thou

[2021-06-23 15:49] AngieHinrichs commented on #257
Hi @dezordi, can you add `--no-temp` to your pangolin command and try again?  By default the /tmp/tmp.... directory is always removed at the end even if there was an error, but `--no-temp` causes the intermediate files to be retained.  They will be left in your current directory unless you specify a different directory with `--outdir`.

[2021-06-23 15:53] mcroxen commented on #257
@dezordi I am having the same issue. If you run with `--no-temp` you will get the log files.

[2021-06-23 15:56] dezordi commented on #257
This one appears to be the problema:

`Traceback (most recent call last):
  File "/root/miniconda3/envs/pangolin/bin/scorpio", line 8, in <module>
    sys.exit(main())
  File "/root/miniconda3/envs/pangolin/lib/python3.8/site-packages/scorpio/__main__.py", line 227, in main
    args.func(args)
  File "/root/miniconda3/envs/pangolin/lib/python3.8/site-packages/scorpio/subcommands/classify.py", line

[2021-06-23 16:41] AngieHinrichs commented on #257
Thanks!  This bug has also been reported in the scorpio repository: cov-lineages/scorpio#15 and @rmcolq is working on it.

[2021-06-23 17:00] rmcolq commented on #257
I've pushed what should fix this to scorpio so a further `pangolin --update` will hopefully fix it - I have a feeling it could be specific to some versions of biopython/OS as I've not been able to replicate the bug on macOS.

[2021-06-23 17:06] dezordi commented on #257
thanks rmcolq, the pangolin --update fixed it.

this one is my OS and bioypthon versions:
biopython: 1.74
OS: Ubuntu 20.04.2 LTS

Idk if these details can help but I get this error in an interactive docker container where I just install python 3.8, the miniconda (conda 4.9.2) and the pangolin following the installation guide.

 Thanks

[2021-06-23 18:02] dezordi commented on #257
After I restart the container, the pangolin --update return this error message:

`
pangolin already latest release (v3.1.4)
pangolearn already latest release (2021-06-15)
constellations already latest release (v0.0.9)
Traceback (most recent call last):
  File "/root/miniconda3/envs/pangolin/bin/pangolin", line 8, in <module>
    sys.exit(main())
  File "/root/miniconda3/envs/pangolin/lib/python3.8

[2021-06-23 18:20] rmcolq commented on #258
I think the answer depends what you mean - I am able to install pangolin from within a conda environment file in my external pipeline in the same way that pangolin installs some of it's dependancies, via git by including e.g:
[code]
 (and the rest of the dependancies as in pangolin environment file).
However to assign lineages that remain meaningful over time pangolin receives regular updates to p

[2021-06-23 18:24] rmcolq commented on #257
Could github/the internet have made that repo temporarily unavailable? Does this repeat?

[2021-06-23 19:11] dezordi commented on #257
yes, the error persist

[2021-06-23 19:27] rmcolq commented on #257
Could you try running `pip install git+https://github.com/cov-lineages/scorpio.git` on it's own in the environment?

[2021-06-23 19:33] dezordi commented on #257
oh sorry, I was removed the git to get a light docker image, after I reinstall it the pangolin --update worked well

[2021-06-23 19:33] rmcolq commented on #257
It sounds like something odd is happening specifically in your docker container - from the scorpio repo it sounds like v0.3.4 installs and works for other ubuntu/biopython=v1.74 users. There are also some github actions for this pangolin repo which include (fresh) installs of pangolin and tests on sequences for both ubuntu and macos and a docker container build.

Ah, your message explains it - no

[2021-06-23 19:33] #257 closed

[2021-06-24 09:56] grovesn commented on #258
Thanks! That's really useful.
The issue we have is that the platform we run our analyses on within PHE is not able to use git clone from GitHub (only from the institution based git repos) so any installations that require this fail.
We are just trying out some slight workarounds to see if we can get it working but useful to know that basically it would be a pain!

[2021-06-24 10:26] aineniamh commented on #258
Hi @grovesn, I know that we have a GitHub actions that automagically pushes a new docker image to docker hub every time a new release is tagged. I think it could be possible to set up something similar for the cov-lineages repos (pangolin, scorpio, pangoLEARN and constellations) that would push a new conda recipe to the cloud. We can have a look into that and would be happy to have a github action

[2021-06-24 10:30] grovesn commented on #258
That would be amazing!
We would obviously be happy to help if needed or be available for testing!

[2021-06-24 14:54] jacaravas opened #260 "Installed Scorpio version check?"
Is there a way to check the installed version of Scorpio from the command line?  Or is that never necessary?  I'm trying to track all of the software versions used for each lineage call.

[2021-06-25 10:56] rdeborja commented on #260
[code]

[2021-06-25 14:02] jacaravas commented on #260
Thank you @rdeborja!

[2021-06-25 14:02] #260 closed

[2021-06-25 20:32] fmaguire opened #261 "Feature Request/Query: De-aliased lineage assignments"
Hey,

As the lineages have gotten deeper and we are using more aliases sometimes its easy to miss nested sets of assignments when doing automated summaries e.g., B.1.617.2 and AY.1/AY.2.  I've just been de-aliasing lineage assignments (e.g., AY.1 to B.1.617.2.1) to using the pango designation repo alias key whenever I've needed for tallying/report summaries.

Aliased lineages are definitely more h

[2021-06-28 12:16] pmenzel opened #262 "Add scorpio other allele counts to pangolin output."
Related to #240:

The sum of the Ref, Alt, and Amb alleles in the `note` column of the Pangolin report does not necessarily equal the number of sites  in the constellation file. This means one cannot deduce the number of sites in the constellation from the pangolin report file alone.

For example, the `note` says: `scorpio call: Alt alleles 20; Ref alleles 1; Amb alleles 0`, which does only sum up

[2021-06-29 11:03] fhansen-qiagen opened #264 "Pangolin 3.1.5 pulls the wrong scorpio version (0.3.1) which does not have --pangolin mode"
When I run pangolin 3.1.5 (fresh checkout) I get the error:
![image](https://user-images.githubusercontent.com/20904009/123786050-8d983f00-d8d9-11eb-95b9-1d6014b3c653.png)

The scorpio log says:
![image](https://user-images.githubusercontent.com/20904009/123786130-a274d280-d8d9-11eb-8c2d-8a05201cde71.png)

when checking the scorpio version, i get
`bash-5.0# scorpio -v`
`scorpio 0.3.1`

'--pangolin

[2021-06-30 18:55] AKWB opened #265 "major update completely fails"
I followed the instructions under updating pangolin for major releases...
git pull
conda env update -f environment.yml

What happens is that I get a list of tons of packages causing inconsistencies...see below...and then the complete install fails ???

Collecting package metadata (repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
T

[2021-06-30 19:27] AKWB commented on #265
can this be an issue as I have python3.9 in my /usr/local/tools/miniconda3/envs/pangolin/bin ? It was installed along with the update of the environment

[2021-06-30 19:38] aineniamh commented on #265
I would suggest removing the environment (https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#removing-an-environment) and try building it from scratch- sometimes conda gets confused!

[2021-06-30 19:39] AKWB commented on #265
Ok, I try ;-). Thanks for the fast answer!!!

[2021-06-30 19:39] aineniamh commented on #264
If you run `pangolin --update` it should update to the latest scorpio version.

[2021-06-30 19:50] AKWB commented on #265
Worked!! THANK YOU VERY MUCH!!!

[2021-06-30 20:17] aineniamh commented on #265
Yay! Glad it's working for you!

[2021-06-30 20:17] #265 closed

[2021-07-01 08:08] fhansen-qiagen commented on #264
`pangolin --update` doesn't work as part of the normal docker workflow. When you run pangolin from docker, as per your own setup, it would be done using `docker run -it [image-id] pangolin [ARGS]`. The nature of docker, however, discards all changes unless you add new layers, i.e. running `docker run -it [image-id] pangolin --update` would give no permanent solution to the problem.

Example:
[code

[2021-07-01 13:26] GorgonVZ opened #266 "Usher throws error"
Dear Pangos,
sadly pangolin throws an error if we try to use --usher flag. Do you have any idea how to fix this?

I already updated pangolin ...

########################################################################################
pangolin already latest release (v3.1.5)
pangolearn already latest release (2021-06-15)
constellations already latest release (v0.0.9)
scorpio already latest release

[2021-07-01 16:55] AngieHinrichs commented on #266
Sorry about that @GorgonVZ -- it looks like you have an outdated installation of usher.  I will add a version constraint to environment.yml, but in the meantime please try this:
[code]

[2021-07-02 05:59] GorgonVZ commented on #266
Thanks for your quick reply!!!
Upgrading usher worked for me, but I also had to install pandas dependency.

conda install -f pandas

[2021-07-02 05:59] #266 closed

[2021-07-02 10:53] BCArg opened #267 "scorpio vs. lineage call"
Hi there,

I have called pangolin (v 3.1.5) on multiple samples and for most for most of them the `scorpio_call` (Delta (B.1.617.2-like)) was in accordance with the lineage (B.1.617.2). Using the WHO page as reference https://www.who.int/en/activities/tracking-SARS-CoV-2-variants/

For two samples, however, I am getting `scorpio_call` `Gamma (P.1-like)` whereas for one I get `P.1.1` and for the ot

[2021-07-02 11:24] aineniamh commented on #267
Can you provide an example sequence of the B.1.1.7 call? There shouldn't be scorpio calls of Gamma that have B.1.1.7 lineage assignments in the latest version of pangolin.
The one example of P.1-like and P.1.1 is fine, as Gamma includes all sublineages within.

[2021-07-02 11:33] BCArg commented on #267
Actually I have just tried and the web-based version of panglin (which presumably is the most up-to-date) and it outputs P.1, so it might well be that I was not running the latest version of pangolin when I had that ambiguous call.

Will close the issue

[2021-07-02 11:33] #267 closed

[2021-07-02 11:40] aineniamh commented on #264
I wouldn't be keen on the second option as that then involves manually maintaining the pangolin environment file for every release that happens in a piece of independent software (scorpio).

My understanding on this environment setup is that `conda env update -f environment.yml` _should_ pull the latest  available releases when creating or updating if no version is explicitly stated (as it seems t

[2021-07-02 12:12] fhansen-qiagen commented on #264
When building the docker images now, I get the correct version. A pointer to scorpio must have moved somewhere. Either way, to prevent this issue moving forward, I still think you should consider adding 1) from my suggestions above, as long as pangolin updates "correctly" when so should the docker image.

[2021-07-02 12:50] himamura2 commented on #267
Dear Aine, I am using the exact sequencing data. With PLEARN-v1.2.13 and pangolin 3.1.5, we will get the following results shown below. It seems that scorpio changed lineage assignment B.1.1.7 to P.1 This sample does have S681H mutation, which is commonly unique to B.1.1.7 and likely led to PLEARN-v1.2.13 to call it B.1.1.7.

**Final.report**
taxon,lineage,conflict,ambiguity_score,scorpio_call,sco

[2021-07-02 14:48] aineniamh commented on #267
Thanks both, it's good to know it's behaving predictably!

[2021-07-06 13:41] domenico-simone opened #268 "How does Pangolin deal with nucleotide ambiguities?"
Hi,

I have a dataset of reconstructed SARS-CoV-2 genomes with ~40 IUPAC ambiguities in the consensus call. How does Pangolin deal with them?

Thank you,

Domenico

[2021-07-06 21:26] aineniamh commented on #268
Hi @domenico-simone, any ambiguity codes are treated as equivalent to an N. The model imputes any missing bases as an A-lineage reference allele, which is the least informative base that can be at that site. The effect is that lineage calls may be pushed more rootward (less precise lineage assignments) with more missing data.

[2021-07-07 14:00] domenico-simone commented on #268
@aineniamh thank you for this info!

[2021-07-07 14:00] #268 closed

[2021-07-07 18:42] EricFournier3 opened #270 "VOC SNPs proportion in pangolin_V3 report"
Hi,

in version 2  of pangolin report, the proportion of SNP for VOC were reported in the **note** columns.
With version 3, this proportion is reported in column scorpio_support, but only when the query is assigned a constellation by scorpio. But I noticed that there is not always a scopio call for VOC. Please see the attached report for example; SAMPLE_1, SAMPLE_4 and SAMPLE_8 are B.1.1.7 without

[2021-07-07 19:29] pmenzel commented on #270
Check out the file `VOC_report.scorpio.Alpha__B.1.1.7-like__counts.csv`.

[2021-07-08 12:00] EricFournier3 commented on #270
Is there an option to generate this file ?  I don't see it with `pangolin -h`

[2021-07-08 13:03] pmenzel commented on #270
try `pangolin --no-temp`

[2021-07-08 13:42] EricFournier3 commented on #270
ok great. Thanks

[2021-07-08 13:42] #270 closed

[2021-07-08 20:01] EricFournier3 opened #271 "scorpio_support calculation"
Hi,

I just want to understand the difference between the calculation of scorpio_support value compare to
Alt alleles / (Alt alleles + Ref alleles + Amb alleles)

For example, in the attached example, we have 0.87500 for scorpio_support but 14 / (14 + 0 + 0) is 1.0

Thanks
Eric
![Capture2](https://user-images.githubusercontent.com/15850682/124983139-9be70900-e005-11eb-93cc-aedee2ca4d4e.PNG)

[2021-07-09 12:54] aineniamh commented on #261
Hi @fmaguire, I'd be happy to provide this or something similar! I think we would want to steer clear of calling it a 'lineage' because AY.1 is the official lineage name, so we wouldn't want to cause confusion or encourage anyone to use B.1.617.2.1. I could have it as a flag potentially, where it's an optional column output?

[2021-07-09 12:55] aineniamh commented on #262
Just merged in now- thanks!

[2021-07-09 12:55] #262 closed

[2021-07-09 21:22] rmcolq commented on #271
Checking in https://github.com/cov-lineages/constellations/blob/main/constellations/definitions/cP.1.json, there are 16 constellation defining mutations for Gamma. Not currently provided in the break down is the "other" score, those mutations which had a non-ref, non-alt, non-ambiguous base. 14/16=0.875.

[2021-07-11 01:40] EricFournier3 commented on #271
Ok thanks

[2021-07-11 01:40] #271 closed

[2021-07-11 21:24] PHemarajata opened #274 "usher error after latest update"
Hi all. After the latest update when using the --usher option I ran into this error:

Error in rule usher_to_report:
    jobid: 0
    output: /home/...................../lineage_report.csv

RuleException:
KeyError in line 358 of /home/.............../anaconda3/envs/pangolin/lib/python3.8/site-packages/pangolin/scripts/pangolearn.smk:
'lineage'
  File "/home/.............../anaconda3/envs/pangolin/

[2021-07-12 06:48] AngieHinrichs commented on #274
So sorry to hear that @PHemarajata!

@rmcolq it's hard to tell without a test case that gets incompatible_lineage, but at line 358, perhaps `row['lineage']` should be just `lineage`?

[2021-07-12 08:46] rmcolq commented on #274
You are right, sorry for the typo. Fixing now.

[2021-07-12 12:47] #274 closed

[2021-07-13 10:31] ibtissemkadri opened #276 "Pangolin 3.1.7 scorpio error"
Hi, after updating pangolin and when trying to generate lineage report i got this error:
![pangolin_new_version_error](https://user-images.githubusercontent.com/36642999/125437194-eb0ec907-7707-4d71-af4f-78c11ee7c375.png)
and I couldn't find the log file (the path specified does not exist), it seems like it's not generated.
Thank you so much!

[2021-07-13 23:37] AngieHinrichs commented on #276
Hi @ibtissemkadri, can you add --no-temp to your pangolin command and try again?  Then the log files won't be automatically removed and the error messages can be seen.

[2021-07-14 09:37] rmcolq commented on #276
Hi @ibtissemkadri , could you also try running `pangolin --update` and let me know what it says?

[2021-07-15 05:49] flashton2003 commented on #256
I also just had this problem, glad I wasn't the only one ;-)

[2021-07-15 08:32] ibtissemkadri commented on #276
Thank you so much for your response.
 `pangolin --update` gave me:
[code]
and now pangolin command works fine! so my fault was that i only updated pangolin!
Thank you again!

[2021-07-15 08:32] #276 closed

[2021-07-16 14:20] niemasd opened #277 "Pangolin dependency checker flags missing usher even if not using --usher mode"
I'm trying to build a minimal Docker image for Pangolin using the Alpine base (without using conda), and I ran into issues setting up UShER while successfully setting up everything else, so given that I wasn't planning on using `--usher` mode for now, I gave up on trying to build UShER from scratch for now. However, when I try to run Pangolin as follows:

[code]

I still get an error from Pangolin

[2021-07-20 00:26] kristyhoran opened #278 "Pangolin to take gzipped input?"

[2021-07-20 00:27] kristyhoran commented on #278
Would it be possible for pangolin to take gzipped files as input?

[2021-07-20 15:31] adamrubrum opened #279 "sequence unable to be processed"
Hello,
I am brand new to entering the lineages and when I put in my fasta files, I am getting the following error:
Sequence unable to be processed with Pangolin (seq_len:4063)

I am guessing this may be user error on my part but I have played around with my files and I can't seem to get any of them to work. Any help would be appreciated.
Thanks

[2021-07-20 19:10] AngieHinrichs commented on #279
Hi @adamrubrum -- it sounds like your sequences are too short for pangolin's default minimum length of 25000.  The coding portion of the SARS-CoV-2 is >29000 bases, and pangolin uses nucleotide sequence across that span (aligned to a reference sequence) to assign a lineage.  A 4063-base segment of the SARS-CoV-2 genome may have some informative mutations, but usually not enough for an automated me

[2021-07-20 19:16] adamrubrum commented on #279
Thank you for your help Angie.

I am guessing that you can set the parameters on program and not on the app online because I don't see anywhere to do it on the online app.

From: Angie Hinrichs ***@***.***>
Sent: Tuesday, July 20, 2021 2:11 PM
To: cov-lineages/pangolin ***@***.***>
Cc: Rubrum, Adam <Adam.Rubrum@STJUDE.ORG>; Mention ***@***.***>
Subject: Re: [cov-lineages/pangolin] sequence unable

[2021-07-22 12:17] AlessandroAlbiero opened #280 "Discrepancy in Lineage Assignment between CommanLine and WebSite"
Hi There,

I'm experiencing an issues with the Classification provided by Pangolin Software.
Please find attached a zip file containing 2 fasta file :
[Fasta.zip](https://github.com/cov-lineages/pangolin/files/6862099/Fasta.zip)

Using the Pangolin Web Site these are classified as Lineage B.
Using the Pangolin Software From Command Line - here below the versions:
pangolin already latest release (v

[2021-07-22 20:09] philiptzou commented on #280
Our web service (https://covdb.stanford.edu/sierra/sars2/by-sequences/) also used Pangolin command line 3.1.7, and it also classifies them both as B.1.36.10. However, currently the Pangolin website uses an older version 3.1.5.

[2021-07-23 02:53] charlesfoster opened #281 "Low priority feature request: run pangolin quietly?"
Hi all,

Thanks again for the great tool. This feature request is exceptionally low priority, but would it be possible to run pangolin with a 'quiet' mode in the future?

I'm asking because I currently have pangolin embedded in some pipelines that have a quiet mode, but when pangolin is run, there is a lot of text written to screen (e.g., the data files found, sequences passing QC etc.). While thi

[2021-07-23 07:29] AlessandroAlbiero commented on #280
HI,
thanks for the feed-back.
This explains the differences on the outputs but it's not clear to me what is the best assignments.
This consensus is coming from a sequencing experiment of a known sample. This sample should be lineage B.
Can you please confirm this is not a problem of the command line annotation?

[2021-07-23 15:52] Piplopp commented on #281
You can use instead

`pangolin consensus.fa &> /dev/null`

[2021-07-23 18:14] philiptzou commented on #280
Hi @AlessandroAlbiero, I'm not the developer. I just provided the observation of mine. From what I know, the lineage calls from Pangolin keep changing from version to version.

[2021-07-26 09:03] AlessandroAlbiero commented on #280
Thanks @philiptzou  - I appreciate your feed-back; it confirms that my pipeline is working good and this classification problem is due to Pangolin Version

[2021-07-26 19:16] theosanderson opened #283 "Current master produces blank output for scorpio-related columns"
Ed: this has been resolved by the reversion

Whereas release 3.1.7 produced output of the form:
[code]

A fresh install from `master` produces output for me in the form:
[code]

I.e. missing the scorpio output

When I look at the scorpio log it looks like it is only finding one constellation:

[code]

[2021-07-29 11:58] varSEAK commented on #280
We experience a similar behaviour.
Please find attached a txt file that is actually a fasta.
Pangolin 3.1.5 classifies it as B.1.1.7.
Pangolin 3.1.7 classifies it as B.1.36.36

I know that the lineage assignment can change over time, but given that B.1.1.7 is a VOC, that change seems a bit unsettling.
[Example.txt](https://github.com/cov-lineages/pangolin/files/6900277/Example.txt)

[2021-07-29 21:44] AngieHinrichs commented on #280
The pangoLEARN model was just updated some hours ago with a new release.  You could try `pangolin --update` which should pull down that release.  It assigns B to @AlessandroAlbiero's two sequences and B.1. to @varSEAK's example sequence.  (I.e. I think it's the version of pangoLEARN, not pangolin, that makes the difference in this case.)

[2021-07-30 18:54] kevinlibuit opened #285 "Missing clades.txt file with PUSHER inference engine"
When using the PUSHER inference engine, we have observed a few assemblies, [(two samples attached)](https://github.com/cov-lineages/pangolin/files/6909491/PUSHER_fails.txt), that lead to a pangolin failure with the following error message:

[code]

These same samples, however, can be assigned a lineage with PLEARN; Sample_01: B.1.1.7 and Sample_02: B.1.617.2.

[2021-07-30 19:04] AngieHinrichs commented on #285
Sorry to hear that and thanks for reporting with example sequences!  With the latest version of pangolin and all its components (pangolin v3.1.7, pangoLEARN 2021-07-28, constellations v0.0.11, scorpio v0.3.8), and with this conda list output for usher and faToVcf:
[code]
I am not seeing the failure.  Can you try running pangolin with --no-temp and then send the logs/usher.log file to hopefully sho

[2021-07-30 20:00] kevinlibuit commented on #285
Oh, wow. Working on our end and I think the error may be due to the FASTA header. I de-identified the sample assemblies as `Sample_01` and `Sample_02`, but the original files had sample names with five humber (e.g. `12345`). Looks like it's only for single-sample fasta files as well. I will post sample files in a second

[2021-07-30 20:14] kevinlibuit commented on #285
Looking back at other occurrences of this failure, we're realizing that they all happen on samples with short (<=5) numeric sample names

[2021-07-30 20:25] kapsakcj commented on #285
Phew, this took us down a rabbit hole 😅

FYI, we first noticed this occurring in the latest `staphb/pangolin:3.1.7-pangolearn-2021-07-09` docker container, but was able to replicate the error with a standard local conda install on Ubuntu 20.04. [I followed the instructions here to install](https://cov-lineages.org/resources/pangolin/installation.html)

`pangolin --usher` fails when the fasta heade

[2021-07-30 20:42] kapsakcj commented on #285
Ah I forgot about the log files you asked for. I re-ran the `12345.ivar.consensus.fasta` assembly through again, but with `--no-temp` option this time and it failed with the same error message. Here are the two logs it produced:
[code]

[2021-07-30 21:04] AngieHinrichs commented on #285
Thanks Curtis!  Yes, here's the key line from the usher.log file:
[code]
The problem is that usher ignores samples that have already been placed in the tree -- and it also ignores samples whose names happen to be the same as the numeric node IDs that usher uses internally.  So as you discovered, numbers less than or equal to the number of internal nodes in lineageTree.pb mysteriously fail to get c

[2021-07-30 21:16] kapsakcj commented on #285
Aha! That makes total sense now. Thanks for clearing this up and for your help, Angie. We appreciate it.

We'll have to advise our colleagues to use more unique sample IDs in the future 😆

[2021-07-30 21:44] AngieHinrichs commented on #285
I'll close this issue since it's not really pangolin's problem, and there's a workaround (don't use purely numeric sequence names; add a prefix or suffix).  Hopefully we can change usher to handle numeric names in the future.

[2021-07-30 21:44] #285 closed

[2021-08-03 13:43] #283 closed

[2021-08-06 09:37] rmcolq opened #288 "Add run mode which does not assign lineages from the designation hash"
Useful for developers

[2021-08-09 08:34] rmcolq commented on #288
In release pangolin v3.1.10

[2021-08-09 08:34] #288 closed

[2021-08-10 05:23] tseemann opened #290 "Option to get all 5 versions without updating?"
For auditing, we need to know all the versions of modules installed

[code]

The above is printed when i run `--update` but I need a non-destructive version and in machine readable form.

Tge `pangolin -v -lv -dv` get me part of the way, but not the whole way.

What would be great is
[code]

[2021-08-10 05:25] tseemann opened #291 "--decompress-model => IndexError: list index out of range"
[code]

Here are my versions
[code]

[2021-08-10 20:08] gkarthik opened #292 "Potential incorrect assignment of AY.3"
@batson pointed out that there could be potential incorrect assignment of AY.3 calls.

Seems like AY.3 was designated based on ORF1a:T3646A and ORF1a:I3731V ([NextStrain](https://nextstrain.org/ncov/gisaid/global?c=gt-ORF1a_3731,3646)) which remains monophyletic.
![image](https://user-images.githubusercontent.com/798263/128927527-7131f716-d22f-4e20-9614-e95cd2149b60.png)

However, seems like the p

[2021-08-10 22:18] kapsakcj opened #293 "test sequence for outgroup_A reported as B for --usher mode"
Hi @AngieHinrichs & pangolin team

Just noticed this while testing out a new pangolin docker container. The included `test_seqs.fasta` has a sequence labeled `outgroup_A` which is reported as lineage B when run through `pangolin --usher` mode.  Is this to be expected?

[code]
pangoLEARN works as expected:
[code]

This container has usher 0.4.1 via bioconda

[2021-08-11 02:36] batson commented on #292
Some of these may be resolved by the new AY.11 clade, but there are too many to be covered by just that change

https://github.com/cov-lineages/pango-designation/issues/142

@chrisruis

[2021-08-12 01:02] fmaguire commented on #278
pangolin should be able to read and process gzipped fasta files since since v3.0

[2021-08-12 09:02] #290 closed

[2021-08-12 10:23] aineniamh commented on #291
Hey @tseemann, I've just pushed a fix for that now! You may have been the first person to try using that feature! 😆

[2021-08-12 10:23] #291 closed

[2021-08-12 10:25] aineniamh commented on #281
I've really tried to get the snakemake logging down to an absolute minimum unless in verbose mode, but there's some parts of it I haven't managed to get turned off. I will make a note to put in a quiet mode for all the pangolin output, but it may not be completely silent! Thanks @Piplopp for the reply as a stop-gap fix!

[2021-08-12 10:28] aineniamh commented on #279
Hi @adamrubrum, I really wouldn't trust an assignment from a sequence of only 4063 bases long. That's a lot of the genome missing information (~85% missing?) and the assignment out of pangolin could be wildly inaccurate. Thanks @AngieHinrichs for the response on that!

[2021-08-12 10:28] #279 closed

[2021-08-12 10:28] #278 closed

[2021-08-12 10:33] aineniamh commented on #280
We're adding in additional tests using scorpio by @rmcolq and @benjamincjackson to explicitly check for SNP presence as part of the lineage assignment, however the pangoLEARN model is a fragile decision tree and subject to the lineage designations. It comes with an error rate and can be used in conjunction with @AngieHinrichs's `--usher` mode to get multiple sources of information.
As always, the

[2021-08-12 10:33] #280 closed

[2021-08-12 10:35] aineniamh commented on #264
Glad this issue has been resolved! The scorpio-URL from the environment.yml should always resolve to the newest version.

[2021-08-12 10:35] #264 closed

[2021-08-12 15:12] jacaravas opened #296 "Typo in pango-designation version causing failure to update the file with --update-data"
I was just reviewing my log files and noticed the message:

"pango-designation (vv1.2.13) is newer than latest stable release (v1.2.59), not updating."

My pango-designation has not been updating correctly for quite some time due to a typo in the version information for v1.2.13.  This is the second time I have noticed the software failing to update correctly due to an extra "v" in the version name

[2021-08-13 00:10] charlesfoster commented on #281
Thank you @aineniamh, appreciate it! My pipeline that I've embedded pangolin in is also in snakemake, so I appreciate the various pains involved...

[2021-08-16 16:19] rmcolq commented on #296
We do try! Unfortunately, very occasionally these mistakes happen - we have a number of people who work on these repositories now alongside their usual work, and those 2 instances were different people. Happily within pangolin, the older version of pango-designation would only affect users making use of the `pangolin --aliases` command. The pango-designation version output for versioning purposes

[2021-08-16 16:19] #296 closed

[2021-08-17 22:02] matt-sd-watson opened #298 "Adding module to summarize lineage reassignments from an older report"
Our group often uses Sankey networks to summarize the most predominant lineage re-assignments between different releases of pangolin, pangoLEARN, etc., especially to track the designations for VOIs and VOC sub-lineages.

Is there any interest in adding a module to pangolin that would perform this reassignment comparison when pangolin is executed? The idea would be to add an optional input file tha

[2021-08-20 13:37] tnguyensanger opened #300 "Conflicting versions of pango-designation displayed"
After doing a full pangolin update from repo, we get conflicting versions displayed for pango-designation.  `pangolin -dv` thinks we are at pango-desigation v1.2.56, but `pangolin --all-versions` thinks we are at v1.2.64 and so does `conda list`.

Is pangolin using older lineage designations despite upgrading pango-designation?

The PangoLEARN `__init__.py` points to the older pango-designation ve

[2021-08-20 14:40] matt-sd-watson commented on #300
I have opened PR #299 to address this discrepancy. I believe that it has something to do with importing a minimum viable pango designation version 1.2.56 to check before running pangolin, but this needs to be confirmed by the pangolin team. However, currently the correct pango designation version is shown by pangolin --all-versions,. not pangolin -dv. Your version of 1.2.64 is the correct one.

[2021-08-20 14:45] fmaguire commented on #300
So the confusion here is that there are actually two version of pango-designation being used by pangolin:

- `pango-designation` version that was used to train the pangolearn and usher models/data that updates when they do
- `pango-designation` version that is being used for the alias file for lineage names that updates independently directly from the repo. This version will always be >= the `pang

[2021-08-20 15:14] aineniamh commented on #300
Thanks @fmaguire!
Really for clarity, the alias-file related pango-designation version probably be explicit and say 'alias version' or something along those lines.

[2021-08-20 16:20] matt-sd-watson commented on #300
Thanks for the clarification. I will remove my PR as it no longer applies.

[2021-08-22 18:02] theosanderson opened #302 "Pangolin returns different results for aligned/unaligned sequences"
If you run Pangolin with aligned sequences it can give results that are inconsistent with unaligned sequences.

This may not strictly be a bug as I don't think Pangolin is intended for aligned sequences, but in that case it might be helpful to surface an error on encountering a gap, in case people accidentally supply aligned sequences.

This file contains two identical sequences. The first is alig

[2021-08-23 09:44] theosanderson commented on #302
What seems to happen here is that when `-` is present in the input file, that base ends up as `N` in the internal pangolin alignment, whereas if that position is just absent the internal alignment gets a `-` gap.

[2021-08-23 09:52] aineniamh commented on #302
I think this is a quirk of when we use minimap2 and gofasta to align sequences that already have gaps in. I believe a fix would be to strip `-` out from sequences prior to running through the pipeline. We can add this in, thanks for flagging!

[2021-08-23 09:55] theosanderson commented on #302
Thanks @aineniamh !

[2021-08-23 10:52] aineniamh commented on #302
Latest push to master fixed this issue on your test file, now calling both of the sequences `B.1.617.2`. Thanks again!

[2021-08-23 10:52] #302 closed

[2021-08-23 10:53] #300 closed

[2021-08-23 10:57] theosanderson commented on #302
Thanks for the change. I'd have expected it to call both `AY.4` given the previous results but maybe this was with a new model or something?

[2021-08-23 11:09] aineniamh commented on #302
We've got a new model training at the moment, but I just tested locally on an old model (pangoLEARN 2021-07-28). Really I meant to say they're consistent results now- should have said that!

I've updated locally to 2021-08-09 and they're now both AY.4!
[code]

[2021-08-23 11:10] theosanderson commented on #302
Great!

[2021-08-23 15:46] #298 closed

[2021-08-23 18:52] quaeler opened #303 "Clarification on what --update does"
Hello -

I'm trying to determine what the `--update` [functionality](https://cov-lineages.org/resources/pangolin/updating.html) may change. Does this update only alter a database store, or does it potentially also update code functionality within Pangolin?

Can we assume that if there have been no repository changes [here](https://github.com/cov-lineages/pango-designation) that `--update` will not

[2021-08-23 19:13] fmaguire commented on #303
`--update` checks the version release of [pangolin](https://github.com/cov-lineages/pangolin/releases), [pangoLEARN](https://github.com/cov-lineages/pangolearn/releases), [scorpio](https://github.com/cov-lineages/scorpio/releases), [constellations](https://github.com/cov-lineages/constellations/releases) and [pango-designation] (https://github.com/cov-lineages/pango-designation/releases) (for the

[2021-08-23 19:21] quaeler commented on #303
Great - thank you for the information.

[2021-08-23 19:31] bextra opened #304 "Lineage summary web UI question"
Thank you so much for your work on this tremendous resource and tool! For this page: https://cov-lineages.org/lineage_list.html

Is there any way to get this summary table output as a CSV? I looked through the docs and didn't see anything there. Additionally, it would be great to be able to make this table sortable by other columns e.g. # assigned and observation date (even though time and lineage

[2021-08-24 08:45] aineniamh commented on #304
We populate the page with data from a json file here: https://github.com/cov-lineages/lineages-website/blob/master/_data/lineage_data.json

This is all sourced from GISAID and just summarised in aggregate per lineage!

[2021-08-24 12:28] fmaguire commented on #304
If you want a quick way to just get the summarised data on that page, dataframe libraries like `pandas` (or libraries like `rvest` in R) can also extract tables directly from html:

[code]

[2021-08-24 17:58] bextra commented on #304
That is very helpful. Thank you so much!

[2021-08-25 02:49] aretchless opened #305 "designation from hash being over-ridden by scorpio (resulting in "None" assignment)"
I am running pangolin with the following versions:
version: PLEARN-v1.2.56
pangolin_version:  3.1.11
pango_version:    v1.2.56
scorpio_version:   0.3.12
constellations: v0.0.13

I ran pangolin on sequences for the taxa listed in the lineage file (pango-designation-1.2.56/lineages.csv) using sequences downloaded from GISAID. Among these sequences, I found 986 that had 'None' in the lineage call and

[2021-08-25 12:22] aretchless commented on #305
I have some additional related information:
1. For B.1.623, I count 739 designated sequences, so scorpio is nullifying assignments for the vast majority of those (675).
2. When run with '--usher' option, the designation hash is used (it is not nullified by scorpio)
3. Tangentially -- the option '--skip-designation-hash' seems to have no effect when run with '--usher'.

[2021-08-25 14:07] donutbrew commented on #305
There are also >30000 genomes de-classified from B.1.526 and almost 10,000 B.1.1.7s using this same software combination.

[2021-08-25 15:07] quaeler commented on #303
Sorry to be a pest, but is there a version number, or date, associated to the updated data that i can ask Pangolin for?

(ie. if i were to ask Pangolin for the version of the data dependencies today, it would say X, and then after a dependency changing `--update-data`, Pangolin would report Y (presumably where Y > X).)

Thanks again.

[2021-08-25 15:13] fmaguire commented on #303
`pangolin --all-versions` will display all dependency versions currently installed.

If you want to install a specific release instead of the latest releases for a given dependency you can directly use `pip install`  and a specific release tag from your conda env e.g. `pip install git+https://github.com/cov-lineages/pangolearn@2021-07-09`  (although no guarantees that very divergent versions of de

[2021-08-25 15:27] quaeler commented on #303
Thank you again!

[2021-08-25 15:27] #303 closed

[2021-08-25 16:44] aretchless commented on #305
I have some more details about the behavior of these 'None' calls. I simulated incomplete sequence data by replacing nucleotides with Ns (in 100bp chunks). Using a subset of these designated sequences, I actually got the correct lineage assignment about 10% of the time when I had replaced 10-20% of the genome. This appears to be due to reducing the 'ref allele' count for scorpio.

[2021-08-27 02:23] alantsangmb opened #306 "How to assign B.1.617.2 to AY sublineage"
Hello,
I have got a few genomes which supposed belong to AY sublineages, but pangolin reported them to B.1.617.2 or incorrectly reported as AY.4/AY.12.

Here the latest version I used:
pangolin: 3.1.11
pangolearn: 2021-08-09
constellations: v0.0.15
scorpio: 0.3.12
pango-designation: 1.2.70

For the attached genome,  I suppose it belonged to AY.23 but both pangolearn or usher mode reported it is B.

[2021-08-30 11:04] #305 closed

[2021-08-31 08:57] Pratibhakadam opened #307 "How to get sub-lineage of delta variant"
I am using pangolin to determine lineages but it shows only delta (B.1.617.2).
I want to know the sublineages whether it is AY.1 or something else.
Please help me with this ASAP.

Thanx in advance.

[2021-08-31 11:21] rmcolq commented on #307
Hi @Pratibhakadam! Firstly can you confirm what version of the software you are running using `pangolin --all-versions`?  If you have pangoLEARN >= 2021-08-24 then the model will be checking for sublineages AY.1-AY.25
You can also try running both with default settings and in `--usher` mode. These use different models to assign a lineage to your sequences. You can be confident that if both say tha

[2021-08-31 11:22] rmcolq commented on #306
The latest release of pangoLEARN is 2021-08-24 and the previous release only included sub-lineages up to AY.12. Try running `pangolin --update`.

[2021-08-31 11:26] rmcolq commented on #292
There has been some curation of the designation sequences between this release and the current one ( see https://www.pango.network/new-ay-lineages-and-an-update-to-ay-4-ay-12/). I think this has improved this issue?

[2021-08-31 18:43] gkarthik commented on #292
Hey @rmcolq, I forgot to update the issue. Yes with the new assignments seems like AY.3 is now monophyletic as expected ([NextStrain](https://nextstrain.org/ncov/gisaid/global?c=pango_lineage&f_pango_lineage=AY.3,AY.3.1&label=clade:21A%20%28Delta%29)). Thanks!
![image](https://user-images.githubusercontent.com/798263/131558338-8ab3a324-d6eb-46b7-a94b-fc6eea745ed9.png)

[2021-08-31 18:43] #292 closed

[2021-09-01 06:01] Pratibhakadam commented on #307
Thanx latest version gives sub-lineages.

But I have a new problem now,
I have sequenced the same sample thrice and if I check the lineages of it
it's different.
for a single sample it shows AY.25, AY.12, B.1.617.2.

Now this seems something serious .Please let me know ASAP

On Tue, 31 Aug 2021 at 16:51, Rachel Colquhoun ***@***.***>
wrote:

[2021-09-01 06:17] aineniamh commented on #307
I imagine it's likely something to do with different N content between the samples? Missing SNPs can impact the assignments

On 1 Sep 2021 07:02, Pratibhakadam ***@***.***> wrote:
This email was sent to you by someone outside the University.
You should only click on links or attachments if you are certain that the email is genuine and the content is safe.

Thanx latest version gives sub-lineages.

[2021-09-01 07:42] Pratibhakadam commented on #307
But from that which one I shall consider as a lineage.
Also for many samples, it gave lineage as B.1.617.2 and not as sub-lineage.
y is it so?

[2021-09-01 07:43] rmcolq commented on #307
Hi @Pratibhakadam - If you run with the `--alignment` flag, you should get the alignment of the 3 sequences compared to the reference. It is possible that if they are replicates from separate extractions there could actually be a real difference in the sequences. If they are sequencing replicates from the same extraction it is more likely to be due to different qualities of the sequenced genomes.

[2021-09-01 07:50] rmcolq commented on #306
I can confirm that with the new release, your sequence is assigned AY.23 like with the usher mode

[2021-09-01 07:50] #306 closed

[2021-09-01 08:20] Pratibhakadam commented on #307
Hi @rmcolq
I have used --usher but it gives B.1.617.2 for all the samples. It doesn't give sub-lineages.
Also, I have used --alignment but it is not taking multiple query files.

can you guide me how to give command with --alignment

Thanx

[2021-09-01 08:40] rmcolq commented on #307
It sounds like the 3 replicate sequences are all B.1.617.2 as well then. Both the usher and pangoLEARN models assign sub-lineages if they find evidence of them.

If you want to look at the alignment, combine your fasta into 1 file.

[2021-09-01 09:01] rmcolq commented on #293
@kapsakcj Has this issue been resolved with the new release?

[2021-09-01 11:07] Pratibhakadam commented on #307
hello,
I have tried --alignment option.
also, I have total 27 samples for them pangoLearn showed different sub-lineages.
But for all the samples --usher showed B.1.617.2

so somewhere it is not matching
can you explain why and which one I shall consider?
I checked manually those sub-lineage mutations were present in the sample.

Can you also explain how these lineages are different from each other

[2021-09-01 11:29] rmcolq commented on #307
Here is an explainer about the defining mutations for each sublineage https://www.pango.network/new-ay-lineages-and-an-update-to-ay-4-ay-12/

These sublineages are closely related, in some cases with only 1 or 2 distinguishing SNPs. PangoLEARN is trained with an unsupervised algorithm which self-discovers sites to distinguish between lineages based on an alignment. Usher places sequences on a phyl

[2021-09-01 11:49] Pratibhakadam commented on #307
Ok.
Thanx a lot

On Wed, 1 Sept 2021 at 16:59, Rachel Colquhoun ***@***.***>
wrote:

[2021-09-01 11:51] #307 closed

[2021-09-01 14:38] kapsakcj commented on #293
Yes, thank you!
[code]

[2021-09-01 15:08] #293 closed

[2021-09-05 17:18] Pratibhakadam opened #308 "sub-lineage Determination"
Hello there,
I have sequences whose lineage were determined using the latest version of pangolin i.e. 3.1.11 with --usher option.
It had shown B.1.617.2 for all the sequences but when I build a phylogeny tree of my sequences with other sub-lineage sequences from the GISAID database for Indian strains using the Nextstrain tool.  My sequences were in the group of sub-lineage sequences of GISAID sequ

[2021-09-06 09:31] rmcolq commented on #308
Hi @Pratibhakadam,
Could you share an example of some sequences or share the Nextstrain placement of them? What sublineages are coming up with Nextstrain?

[2021-09-06 10:29] Pratibhakadam commented on #308
Hello,
yes sure..
In the phylogeny first 2 sequences and the last one are from the GISAID
database and have sub-lineage AY.5.Rest samples are from my lab .
Also added the sublineage sheet, which includes sublineages determined
using PangoLEARN, usher and also from the Nextstrain in which group they
are falling.

Thanx

On Mon, 6 Sept 2021 at 15:01, Rachel Colquhoun ***@***.***>
wrote:

[2021-09-06 12:26] rmcolq commented on #308
@Pratibhakadam they don't seem to have attached, but your comments help. The most common reasons why samples might not be assigned to the sub-lineages are:
1. They are best represented by the parent lineage (ie the defined sublineages doesn't fit)
2. They contain more ambiguous bases (N) compared to the reference and therefore can't be placed with enough certainty at the sub-lineage level and get

[2021-09-08 04:29] ala98412 opened #309 "SyntaxError: future feature annotations is not defined"
I got this error message

Traceback (most recent call last):
  File "/usr/local/bin/pangolin", line 33, in <module>
    sys.exit(load_entry_point('pangolin==3.1.11', 'console_scripts', 'pangolin')())
  File "/usr/local/lib/python3.6/dist-packages/pangolin-3.1.11-py3.6.egg/pangolin/command.py", line 199, in main
    dependency_checks.check_dependencies()
  File "/usr/local/lib/python3.6/dist-packag

[2021-09-08 06:28] aineniamh commented on #309
This looks like a pandas error.

if you try pip uninstalling pandas, and then updating the pangolin environment, or pip uninstalling pangolin and reinstall that may sort it out?

[2021-09-08 06:38] ala98412 commented on #309
Hi, aineniamh

I tried to uninstall pandas, and install pandas back, but the problem still exist.
But I notice another problem,

File "/usr/local/lib/python3.6/dist-packages/pandas-1.3.2-py3.6-linux-x86_64.egg/pandas/util/_decorators.py", line 1

seems like pangolin use packages in folder python3.6.

Will this cause problem? And how can I fix it?

Thanks a lot.

[2021-09-08 07:09] aineniamh commented on #309
Ah thats definitely the issue! May need to uninstall and reinstall the environment completely. To be safe maybe delete the pandas in python 3.6 too? Or just all python 3.6 packages if you don't use them anymore!

[2021-09-08 09:43] aineniamh commented on #309
Ah, that may be the source of your issue then- the documentation explains how to install the conda environment with specific dependencies (https://cov-lineages.org/resources/pangolin/installation.html).

I'd recommend going through the install steps at the link and that should sort your dependency issues out.

[2021-09-08 11:04] ala98412 commented on #309
Thanks a lot. I can use pangolin in conda env now. :)

[2021-09-08 11:28] aineniamh commented on #309
Great! Glad it's working for you! 🎉

[2021-09-08 11:28] #309 closed

[2021-09-09 18:21] baileyglen opened #310 "Version info question"
Sorry if this has been addressed elsewhere.
I am using the docker version of pangolin and am confused about the implications off the various data versions. In particular, I am wondering what the implications are of using the pango-designation that is more recent than the pangolearn version. For instance:
[code]
For instance, pango-designation v1.2.66 contains delta sublineages up to AY.25, but v1.

[2021-09-13 04:52] ShannonDaddy opened #311 "inconsistent lineage assignment between pangolin web version and github version"
Hi, we've found that the results of lineage assignment from pangolin web and github version are different, but we can't tell why, please help us. The snapshots of version check and lineage results are attached.

github command-line version:
<img width="657" alt="github_command_line" src="https://user-images.githubusercontent.com/6656888/133025571-4a535702-9347-411f-9e09-ce406bd7f019.png">

web ver

[2021-09-13 09:12] rmcolq commented on #311
It looks like the website is behind by one model release (the bottom of the page says lineages version 2021-08-09, which means that it is running pangoLEARN release 2021-08-09). This website is maintained by different people to the command line tool/model generation and I have sent them a message to query it with them. The correct assignment is the one with the github/command line version.

[2021-09-13 09:17] rmcolq commented on #310
The first pango-designation label refers to which release is used for the latest model files. This is the one which is output in the version labels in pangolin output (e.g. PANGO-v1.2.66) i.e. this is the version number for ALL lineage assignments.
A requested feature of pangolin was to be able to access the aliases directly with a command line flag (e.g. AY=B.1.617.2). We do this by pulling/insta

[2021-09-13 09:17] #310 closed

[2021-09-13 09:18] #308 closed

[2021-09-14 00:35] ShannonDaddy commented on #311
Thanks!

[2021-09-14 03:24] #311 closed

[2021-09-14 12:24] brittvanm opened #312 "Discrepancy web application vs offline Pangolearn version"
Hello,

When we compare the results of our offline Pangolearn version (24/08/2021) with the web application https://pangolin.cog-uk.io/ (9/8/2021), we see many differences for the sublineages (AY) of the Delta variant. I suppose our offline Pangolearn version is the most correct one? When will the web application be updated?

[2021-09-27 14:20] abel-betraoui opened #313 "New snakemake version introduces path handling error"
Hi all,

I got the following error running pangolin today:

[code]

The piece of incriminated code is the following (from **pangolearn.smk**):
[code]
I ran a previous version of the code (docker built on the 2021-09-20) on the same file and everything went well.

I noticed an update of snakemake (from 6.8.0 to 6.8.1) 3 days ago which introduces modifications in the definition of
 the **workflow.cu

[2021-09-27 16:37] tomu01 commented on #313
Also seeing this same error. In fact pangoLEARN 2021-09-17 was working fine last week, but due to the recent snakemake change, is now failing.

[2021-09-27 21:54] lvreynoso opened #314 "Conda environment name suddenly changed from pangolin --> pangolin2"
Hi there! I work on a project that uses pangolin in automated batch jobs, and I noticed that our install script started failing on `conda activate pangolin`. The conda environment name was changed to `pangolin2` in [this commit](https://github.com/cov-lineages/pangolin/commit/bda2c9ac221c48975ab7589bdab67aca99f99285), but this appears to be a side effect of testing the changes, and not an intentio

[2021-09-27 22:01] aineniamh commented on #314
Should be fixed now, sorry about that!

[2021-09-27 22:01] #314 closed

[2021-09-27 22:02] #313 closed

[2021-09-27 22:02] lvreynoso commented on #314
Thank you for the quick response!

[2021-09-27 22:07] tomu01 commented on #313
Thanks so much @aineniamh for the quick fix!

[2021-09-28 08:44] aineniamh commented on #312
You're right that the offline version will be the most up-to-date one! The Centre for Genomic Pathogen Surveillance (https://www.pathogensurveillance.net/) made and maintain the web application! @aunderwo updates and builds a new version of the web app every time there's a new release tagged!

[2021-09-28 16:42] AmandaBirmingham opened #315 ""dict contains fields not in fieldnames: None" error in generate_report as of v3.1.13"
Yesterday I updated to v3.1.13 (from v3.1.11) and since then I have been receiving the below error on all my attempts to run pangolin, including re-running input files that completed successfully with v3.1.11.  I have deleted my v3.1.11 pangolin conda environment and and installed the v3.1.13 environment.yml from scratch, but without luck.  Can you shed any light?  Thanks!

[code]

[2021-09-29 11:25] yp opened #316 "pangolearn does not escape commas in sequence IDs"
Hi,
I am using pangolin for assignment. I have the following issue when the sequences that I use have a comma in the header.
[code]
My opinion is that line https://github.com/cov-lineages/pangolin/blob/b8b69be65aff9a543adbf114ab9bee9abe3d6831/pangolin/pangolearn/pangolearn.py#L197 should escape `seqId`.

Moving to module `csv` would be better in the long term.

Thanks for your work and assistance.

[2021-09-29 11:31] yp commented on #315
I have this issue, too (after a temporary fix of my other issue: #316 )
Do you have commas in the sequence headers of your input fasta? In my case, removing the comma solved this issue.

[2021-09-29 11:47] aineniamh commented on #316
That's interesting, I had thought we explicitly handle commas in the sequence ids when we qc the sequences: https://github.com/cov-lineages/pangolin/blob/b8b69be65aff9a543adbf114ab9bee9abe3d6831/pangolin/command.py#L285
But it looks like it's not getting pushed through. It must just be most people don't put commas in a sequence ID.

I've added a quick fix to handle commas in the description and wi

[2021-09-29 11:47] #316 closed

[2021-09-29 11:50] aineniamh commented on #315
I've pushed a temporary fix to the comma issue, and when the checks finish will publish a new release. If this resolves this issue just let me know, otherwise we can look into it further!

[2021-09-29 12:16] yp commented on #316
Thanks for the fix: this solves both #315 and #316 in my case.
Curiously, I always had commas in the sequence headers, but pangolin previous versions correctly handled the case.

[2021-09-29 13:32] grovesn opened #317 "Pangolin not completing after initial error message about config"
Hi,

I have installed pangolin and dependencies on one of our virtual machine (it doesn't have conda so I have had to install each piece separately). I can run the checks successfully (`pangolin -v` etc.) without any issues.

When I try to run pangolin on a fasta file I get the following output:

[code]

My command is `pangolin --max-ambig 0.55 -t 3 --outfile ${f}.pango.csv $f`

I'm not sure if th

[2021-09-29 13:47] aineniamh commented on #317
This is from an issue a few days ago that is introduced with the latest snakemake minimal release (https://github.com/cov-lineages/pangolin/issues/313). As a fix, I've specified that an older version of snakemake-minimal is needed in the conda environment file (<=6.8.0) so downgrading to an earlier snakemake version should fix your issue!

[2021-09-29 13:50] grovesn commented on #317
Ah! Great, thanks!
I'll give that a go :)

[2021-09-29 21:42] #317 closed

[2021-09-30 13:14] rmcolq commented on #312
The web app is currently running the release from 2021-09-17, and I hear it is being updated to yesterday evening's release now, so I think this issue is now resolved.

[2021-09-30 13:14] #312 closed

[2021-10-08 18:51] ThiagoRBM opened #318 "Pangolin (apparently) installed, but I can't use it"
Hello all,

I've installed pangolin, as said here: https://cov-lineages.org/resources/pangolin/installation.html (first five steps).
Apparently all is ok, but when I try to get pangolin version (pangolin -v) or run any commando, I get  "command not found: pangolin". Pangolin is active as far as I can say (I run the command to activate and got no error message).

Thanks for your help!

[2021-10-10 18:37] ThiagoRBM commented on #318
Solved! :)

[2021-10-15 08:05] #318 closed, assigned to nobody

[2021-10-15 08:29] aineniamh commented on #258
@grovesn, I meant to reply to this before- I believe that there is an external group that _has_ put pangolin and all dependencies on bioconda.

Here: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/pangolin/meta.yaml

 I've tried installing it and there's an unsatisfyable error, but it's passing bioconda tests, so it could be just on my end

[code]

[2021-10-15 08:29] #258 closed

[2021-10-18 08:00] priesgo opened #321 "Upgrade biopython dependency?"
We are trying to integrate pangolin in a variant calling workflow for SARS-CoV-2 (https://github.com/TRON-Bioinformatics/covigator-ngs-pipeline/pull/2). This workflow depends on a recent version of Biopython 1.79 to perform the global alignment of sequence and reference. But, Pangolin depends on an older version of biopython 1.74 (see https://github.com/cov-lineages/pangolin/blob/master/environmen

[2021-10-19 09:38] antra14 opened #322 "pangoLEARN lineage assignment B.1.1.7 was not supported by scorpio"
Hi,

I am analyzing some samples for which I am getting clade as 20I (Alpha, V1) by Nextclade tool bit in pangolin 3.1.14 getting pangoLEARN lineage assignment B.1.1.7 was not supported by scorpio  or usher lineage assignment B.1.1.7 was not supported by scorpio which report lineage as None.
Could you please guide me what does it mean

[2021-10-20 09:41] rmcolq commented on #322
https://github.com/cov-lineages/constellations/blob/main/constellations/definitions/cB.1.1.7.json

[2021-10-20 09:51] aineniamh commented on #254
Going to close this as the discussion is ongoing at pangoLEARN.

[2021-10-20 09:51] #254 closed

[2021-10-20 10:13] #322 closed, assigned to nobody

[2021-10-20 12:52] corneliusroemer commented on #258
Do you want to add this to the installation docs? Makes sense to have a
good command ready made!

On Wed, Oct 20, 2021, 13:06 aineniamh ***@***.***> wrote:

[2021-10-21 08:51] aineniamh commented on #321
We have added in biopython>=1.74, we may need to specificy a particular version again in future if biopython introduces anything that breaks in future versions though!

[2021-10-21 08:51] #321 closed

[2021-10-22 22:28] fmaguire opened #328 "Which pango-designation/aliases version string should be in output reports?"
Would it make more sense to have [this line](https://github.com/cov-lineages/pangolin/blob/76def13c4fa8116a31ff6c7dda517f1f038e9133/pangolin/command.py#L336) refer to the imported `pango_designation.__version__` instead of the `PANGO_VERSION` used to train the models?

I figure as the actual `alias_file` being used is related to the `pango_designation.__version__` and that the `PANGO_VERSION` info

[2021-10-22 23:05] corneliusroemer opened #329 "Allow pangoLEARN to read from stdin, like standard UNIX tools, by specifying `-` instead of file name"
I just tried the following, to save me from having to deal with the 100GB uncompressed fasta, but it failed:

[code]

I got the error
[code]

I guess reading in from stdin isn't supported (yet). Would it be possible to add this? May be easy to do.

[2021-10-23 00:03] corneliusroemer opened #330 "pangolin reads entire fasta file into memory causing crash if entire GISAID database loaded"
I tried running pangolin on all GISAID data. It crashed. I noticed memory usage balloons, growing beyond 16GB RAM. It looks like pangolin tries to read the entire file into memory, rather than reading input line by line.

This is not what I as a user would expect to happen. So in so far it's a bug.

It would be great (enhancement) if pangolin read in only what it need reducing memory requirements.

[2021-10-24 15:08] corneliusroemer opened #331 "Type error: expected str, bytes or os.PathLike object, not LocalSourceFile"
When I run the following command `pangolin builds-combined/asia/sequences_raw.fasta`, I get an error `TypeError: expected str, bytes or os.PathLike object, not LocalSourceFile` somewhere bubbling up from Snakemake. What's going on, what am I doing wrong? Or is this a bug?

[code]

This happens on a cluster node with CentOS 7.9, but I'm not submitting through SLURM, just vanilla bash terminal.

[2021-10-24 15:29] #331 closed, assigned to nobody

[2021-10-25 08:17] abel-betraoui opened #332 "Docker build failed due to pandas version"
The docker build is failing since the 22nd of October. It is related to a pandas version issue  **(No matching distribution found for pandas==1.0.1)**, which seems weird since 1.0.1 is listed in the "from versions" (see below).

Setting pandas version to pandas>=1.0.1 in environment.yml seems to fix the problem.

[code]

[2021-10-25 09:30] #332 closed, assigned to nobody

[2021-10-25 14:26] #328 closed, assigned to nobody

[2021-10-26 17:21] aunderwo opened #336 "Possible misassigned lineages. X-post from pangolin.cog-uk.io"
Hi @aineniamh

Please can you take a look at this post from pangolin.cog-uk.io
https://gitlab.com/cgps/cog-uk/pangolin.cog-uk.io/-/issues/19

Is this something that has been reported for the CLI?

Thanks, Anthony

[2021-10-27 15:54] aretchless opened #337 "false positive AY.4.2 calls are not being removed"
We are reviewing the AY.4.2 calls and I noticed [6 sequences that were assigned to lineage AY.4.2](https://github.com/cov-lineages/pangolin/files/7427601/AY42_false_positievs.txt) despite having no scorpio call. My understanding is that these are false positives that should have been given 'None' assignment. One was assigned from hash, but the other 5 were assigned by pangoLearn.

The results are

[2021-10-27 19:49] aretchless opened #338 "Full reporting of software version in 'lineage_report' file"
For QMS purposes, would it be possible to write the full software version information in the lineage_report file produced by pangoiln? Currently, the version information does not include scorpio or constellations, which have become essential to the identification of lineages such as AY.4.2.

It would be especially helpful if there were a single version identifier that accounted for the full proces

[2021-10-28 13:35] #329 closed, assigned to nobody

[2021-10-29 08:24] alantsangmb opened #339 "AY.43"
I have one Delta genome sequence with N: Q9L.
But I am not sure whether it is AY.43, as latest Pangolin versions assigned it to B.1.617.2 only with both default and usher parameters.

Could you help to see whether it is AY.43? Will pangolin be updated to address this issue if it is AY.43. Thank you.

[VM2104AY43.txt](https://github.com/cov-lineages/pangolin/files/7440227/VM2104AY43.txt)

[2021-10-29 10:54] #339 closed, assigned to nobody

[2021-10-29 11:23] #337 closed, assigned to nobody

[2021-10-29 17:41] jacaravas opened #341 "Likely mis-assignment of AY.4.2 lineage call to Epsilon like sequences"
The latest pangolin/PLEARN/Constellations files are producing likely erroneous AY.4.2 lineage calls for sequences collected Jan - Feb 2021.  Scorpio call for these lineages is "Epsilon (B.1.427/429-like)".  These sequences lack the "HV" mutation.

Known affected sequences:
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft

[2021-10-29 18:14] AngieHinrichs commented on #341
I would have expected scorpio to override the pangoLEARN call in pangolin lineage_report.csv output, but I see it's getting just "B.1" in the second column:

| taxon | lineage | conflict | ambiguity_score | scorpio_call | scorpio_support | scorpio_conflict | version | pangolin_version | pangoLEARN_version | pango_version | status | note |
|-----|-----|-----|-----|-----|-----|-----|-----|-----|----

[2021-10-29 18:36] jacaravas commented on #341
Hi Angie,
We're getting that call from the "pangolin --outfile" file.  We aren't running usher.  The only other parameters we are providing besides "--outfile" are "--tempdir" and "--threads"

[2021-10-29 18:44] AngieHinrichs commented on #341
Ah, sorry, since running `pangolin --update` again this morning now I see AY.4.2 is assigned not B.1.

@rmcolq is there a recent change that would make Scorpio's call of Epsilon not override pangoLEARN's call of AY.4.2 for these pretty clearly Epsilon sequences?

| taxon | lineage | conflict | ambiguity_score | scorpio_call | scorpio_support | scorpio_conflict | version | pangolin_version | pangoL

[2021-10-29 18:49] AngieHinrichs commented on #341
And @jacaravas, have you considered running --usher?  Were there any barriers to trying or using it?

[2021-10-29 18:57] rmcolq commented on #341
This is a tricky case. Epsilon is the only constellation which scorpio does not override because there is one constellation file for it, and it doesn't have an `mrca_lineage` because that would not make sense. It didn't seem to be a problem before, but if we are getting cross calls with AY.4.2 and Epsilon, then we should revisit. I have made updates to scorpio which should allow multiple constella

[2021-11-01 16:08] aretchless commented on #341
Hi Rachel (@rmcolq). It might be simpler to focus on the removal of the false positive rather than on reassigning to Epsilon (I say this without knowing anything about the specific code, of course). Conceptually, it seems like a 'not AY.4.2' call from scorpio should have the same effect on AY.4.2 lineage assignment, regardless of any other constellation that scorpio might detect.  Focusing purely

[2021-11-01 21:05] DOH-SML1303 commented on #341
The latest pangolin update is calling a B.1.429 sequence as AY.4.2 I have one sequence that is being called AY.4.2 by the newest pangolin update but does not contain any of the mutations. seq USA/WA-61898/2021

taxon | lineage | conflict | ambiguity_score | scorpio_call | scorpio_support | scorpio_conflict | version | pangolin_version | pangoLEARN_version | pango_version | status | note
-- | -- |

[2021-11-01 21:57] DOH-SML1303 opened #342 "Likely Mis-alignment of P.1.16 lineage call to Alpha sequences"
The recent version of pangolin assigned two alpha sequences to the P.1.16 lineage

taxon | lineage | pangolin call v 3.1.16 | usher | nextclade
-- | -- | -- | -- | --
USA/WA-UW-21042027698/2021 | B.1.1.7 | P.1.16 | B.1.1.7 | 20I
USA/WA-UW-21051199263/2021 | B.1.1.7 | P.1.16 | B.1.1.7 | 20I

pangolin v3.1.16
pangolearn 2021-10-18
constellations v0.0.21
scorpio  v0.3.14
pango-designation av1.2.91

[2021-11-02 12:50] aretchless opened #343 "Documentation of lineage assignment process (scorpio and pangolearn)"
Hello. I have not been able to find clear documentation of how the pangoLearn and scorpio calls (and hash checking) are merged to produce a final lineage assignment by pangolin (when using default parameters). I think that I understand the process, based on the release notes and various discussions, but I've found it very hard to explain to others without an authoritative reference for the process

[2021-11-02 15:38] fmaguire commented on #343
Yeah that is the process, you can use snakemake to directly dump the DAG of the assignment process if it helps to see it/summarise it visually:

![PangoLEARN mode](https://user-images.githubusercontent.com/1698629/139869484-fe8b6abf-92df-4032-b23f-3ea47a3d6130.png)

![USheR mode](https://user-images.githubusercontent.com/1698629/139869493-c4b52663-1094-477d-b43d-5899dad27a45.png)

If a genome is a

[2021-11-02 16:41] AngieHinrichs commented on #343
Awesome, thanks @fmaguire!  I think there's at least one more special case, although it might go away in the foreseeable future.  In cov-lineages/pangolin#341 @rmcolq mentioned an [exception for Epsilon](https://github.com/cov-lineages/pangolin/issues/341#issuecomment-954977038): Scorpio currently does not override incongruent pangoLEARN/usher for Epsilon because (if I'm interpreting Rachel's comm

[2021-11-02 16:53] fmaguire commented on #343
Ah yes, I meant to follow up on what [this bit of logic](https://github.com/cov-lineages/pangolin/blob/master/pangolin/scripts/pangolearn.smk#L253) was doing but forgot! As @AngieHinrichs says currently if the scorpio assignment contains a `/' (only impacting Epsilon) then *2* occurs.

[2021-11-02 18:05] aretchless commented on #343
Thank you Finlay and Angie. That's very helpful.

[2021-11-02 23:12] fmaguire commented on #343
This this would help in the documentation to make this even clearer?

![](https://user-images.githubusercontent.com/1698629/139964427-cd09d15d-302a-4be1-8ad7-9bca623ffceb.png)

[2021-11-03 08:11] CVL-IL-omer opened #344 "Pangolin fails to classify samples in --usher mode"
Hey Pangolin developers,
Most of the sequences in my query fasta file are not classified when using UShER, without an clear explanation why, e.g.:
[code]
How can solve this issue? Pangolin is up to date.

Thanks!

[2021-11-04 15:53] rmcolq commented on #344
Does it work in pangoLEARN (default) mode? Could you check that minimap2 has installed correctly (run `minimap2 -h` to make sure the help menu comes up with no errors - on my M1 mac I have before had it install in a corrupted way)

[2021-11-04 16:13] rmcolq commented on #342
I ran pangolin with `--no-temp` on both these sequences and see that neither is called as B.1.1.7 by scorpio. It looks like the first sequence has 6 ref and 17 alt calls for the defining mutations of Alpha, and the second has 15 ref calls and 6 alt calls. In usher mode when I run, the first is coming out as B.1.1.7 and the second as B.1.

So the first thing is that neither sequence should be given

[2021-11-04 16:50] #336 closed

[2021-11-04 22:12] DOH-SML1303 commented on #342
Hi @rmcolq, thank you so much for your response and for looking into this. I am not sure if the bioinformatics pipeline that the submitter uses insert reference sequence where read quality drops during consensus sequence building, but I can try to find out.

[2021-11-06 15:11] CVL-IL-omer commented on #344
@rmcolq Thank you for your answer. Minimap is properly installed and pangoLEARN performs well.

[2021-11-06 15:35] aineniamh commented on #344
It sounds like your sequences failed to map using minimap2 ("failed_to_map" in the output report). This could be for a number of reasons- your sequence might be too ambiguous, may be too divergent to the SARS-CoV-2 reference or might be too short. If you could post your sequence here (anonymised if necessary), we could troubleshoot to see why minimap2 isn't mapping your sequence to the reference.

[2021-11-08 07:24] CVL-IL-omer commented on #344
@aineniam
Thanks, please find attached. PangoLEARN doesn't use minimap2?
[Pango.zip](https://github.com/cov-lineages/pangolin/files/7494945/Pango.zip)
h

[2021-11-08 22:38] AngieHinrichs commented on #344
Thanks @CVL-IL-omer for reporting this and sharing sequences to reproduce the problem.  Short answer, assuming your original sequence file uses numeric sequences names like the file you shared, is that it's an issue with an older version of usher that you can fix by updating usher:
[code]
Longer answer: usher ignores any sequence whose name matches the name of any node in the tree.  Earlier versio

[2021-11-09 13:28] aretchless commented on #343
Hi. I may have closed this issue prematurely, and would appreciate some feedback from the development team or website maintainers. It would help us (CDC) a lot if we could point our collaborators to an 'official' and explicit description of the process for assigning lineages. I wouldn't even know where to start with proposing an edit to the documentation.

[2021-11-09 13:31] rmcolq commented on #343
The above (as written and edited by Finlay) is an excellent summary of the process

[2021-11-10 05:08] CVL-IL-omer commented on #344
@AngieHinrichs Thanks for your reply! However, your assumption is wrong :)
The headers were converted to numbers in order to remove identifying details.

[2021-11-10 08:14] AngieHinrichs commented on #344
Sorry to hear that wasn't the issue on your end.  However, the fasta file that you sent is working fine with my installation of pangolin, so hopefully we can get your installation of pangolin to a similar state.  Can you send the output of these commands?
[code]
And then if you could run `pangolin --usher --no-temp` on your file, when the run completes there should be a file logs/usher.log.  Can y

[2021-11-10 18:05] #342 closed

[2021-11-12 01:35] alantsangmb opened #346 "Likely mis-assignment of AY.119?"
I have got the attached sequence which seems like to be a AY.119 sequence, but latest pangolin assigned it to AY.43 and B.1.617.2 using usher.
[AY119.txt](https://github.com/cov-lineages/pangolin/files/7524277/AY119.txt)

[2021-11-12 11:23] bede commented on #343
@fmaguire Thank you for this succinct and illuminating summary! I have a related simple question:

Where is this note displayed? The note column of the CSV or stderr?

An AY.4.2 sequence of ours is generating empty `ambiguity_score` and `scorpio_call` columns with 3.1.16, but neither the note column nor stderr indicate that it was assigned by hash as you suggest. Is this implicit?

end of stderr:

[2021-11-12 12:35] KaiWaldrant opened #347 "wrong pangolin version install via conda"
I'm trying to install pangolin through conda. Whenever I use the following command according to [https://anaconda.org/bioconda/pangolin](url)
`conda install -c bioconda pangolin`

It installs version 1.1.14 instead of 3.1.16

I'm using conda version 4.10.3 and python 3.9.7

 Ubuntu server 20.04.3 LTS

i'm trying to install the CLI for a production environment

[2021-11-12 12:51] aretchless commented on #343
@bede. The version field will have "PANGO" written in it if the sequence was assigned from the sequence hash.
https://cov-lineages.org/resources/pangolin/output.html

[2021-11-12 13:29] KaiWaldrant commented on #347
It appears it is not possible to install packages from bioconda atm.

[2021-11-12 13:29] #347 closed

[2021-11-12 13:33] bede commented on #343
Ah yes, had forgotton, thanks @aretchless !

[2021-11-12 14:36] KaiWaldrant commented on #347
it was not the bioconda server issues because this was already fixed apparently.
Issue was python version was too high. downgraded to python 3.8.12 and install worked

[2021-11-14 23:59] AngieHinrichs commented on #346
Hi @alantsangmb -- AY.119 was added in pango-designation [release v1.2.92](https://github.com/cov-lineages/pango-designation/releases/tag/v1.2.92), while the latest release of pangoLEARN ([2021-11-04](https://github.com/cov-lineages/pangoLEARN/releases/tag/2021-11-04)) was trained on pango-designation release v1.2.91, and the lineageTree.pb used in --usher mode was also constructed with v1.2.91 li

[2021-11-15 00:02] AngieHinrichs commented on #346
P.S. If you run `pangolin --all-versions`, it includes "pango-designation used by pangoLEARN/Usher" so you can see that the pango-designation version is v1.2.91:
[code]

[2021-11-15 00:49] alantsangmb commented on #346
@AngieHinrichs  Thank you for your detailed and clear explanation.
I will check the pango-designation version next time.

[2021-11-15 00:49] #346 closed

[2021-11-20 17:11] enabieva opened #349 "Can't update pango-designations"
I seem to be unable to update pango-designations to the newest version when using standalong command-line pangolin.
After following the instructions for updating, both via pangolin --update and using the "major update" scenario, I get:
% pangolin -dv
pango-designation v1.2.93 used for pangoLEARN and UShER training, alias version 1.2.98

I don't understand what "alias version" is, but when I run pa

[2021-11-20 17:51] theosanderson commented on #349
You aren't doing anything wrong :) . There is a period of time between lineages being designated, and those designations being used to train a model that is released for use in Pangolin. You can see the latest model released at https://github.com/cov-lineages/pangoLEARN/releases , which was trained using the v1.2.93 designations

[2021-11-20 18:13] enabieva commented on #349
Thank you!  But is there any way to get sequences annotated with the new designations (v.1.2.96+)?  If I understand correctly, the Usher model does not need to be trained.

[2021-11-21 07:33] AngieHinrichs commented on #349
pangolin --usher uses a tree instead of a trained model, but the tree still requires some annotation before new lineages can be assigned using it.  The tree used by pangolin --usher is [lineageTree.pb](https://github.com/cov-lineages/pangoLEARN/blob/master/pangoLEARN/data/lineageTree.pb) in the pangoLEARN repository.  pangoLEARN releases use the same pango-designation version for both the trained

[2021-11-22 06:45] enabieva commented on #349
@AngieHinrichs , thank you very much.  Now I understand what's going on.

[2021-11-22 06:45] #349 closed

[2021-11-24 14:42] 1GHX opened #350 "Earliest date of AY.4"
Currently your website reads that the earliest date of AY.4 (B.1.617.2.4) is May 11th, 2020. This looks like a mistake to me as the first B.1.617.2 case was detected in India, February 2021 (e.g.: https://en.wikipedia.org/wiki/SARS-CoV-2_Delta_variant).

Unless cov-lineages is trying to claim that B.1.617 has existed for almost a year in the UK (May 2020 - February 2021) without massively infectin

[2021-11-29 11:39] rmcolq commented on #350
The website is currently updated automatically based on the information in GISAID on a daily basis. We have a recurrent problem of individuals submitting incorrect dates to GISAID and this is what you are seeing here. In this particular case of misdated UK sequences, the submitting organization is aware of the problem and is working to fix the dates - when their fix is pushed to GISAID, this will

[2021-11-29 11:46] aineniamh commented on #350
Thanks @rmcolq for responding! I'm going to close this issue as it's unrelated to the pangolin software tool and is an issue of date mis-reporting on GISAID being reflected on the cov-lineages.org website.

[2021-11-29 11:46] #350 closed

[2021-11-29 11:47] #330 closed

[2021-11-29 11:59] aineniamh commented on #344
Hi @CVL-IL-omer, just checking back in about this issue. I've run your attached file through the latest version of pangolin

Output of pangoLEARN mode posted here:
[lineage_report.csv](https://github.com/cov-lineages/pangolin/files/7617931/lineage_report.csv)

Output of UShER mode here:
[lineage_report.usher.csv](https://github.com/cov-lineages/pangolin/files/7617969/lineage_report.usher.csv)

and

[2021-11-29 12:00] #142 closed

[2021-11-29 13:18] XubCherif opened #353 "Mis-assignment of Omicron (B.1.1.529) variant"
Both Docker Pangolin and the pangolin website assign the B.1.1.529 as  B.1.1.524.
The last check I did, was downloading all Omicron sequences from GISAID, and most of them got B.1.1.524 classification.

[2021-11-29 13:26] aineniamh commented on #353
Can you confirm you have constellations 0.0.24 because if not you don't have the latest docker container! Double check you have the latest as the docker pangolin should be assigning Omicron fine. We're aware of the web app issue and @aunderwo is working to resolve it!

[2021-11-30 12:59] rmcolq opened #354 "Move sequence quality checks to after scorpio"
Context, where scorpio can cope with poor quality sequences, we do still want the call.
Also may want to think about how to order this with lineage cache function

[2021-12-02 18:44] dezordi opened #355 "lineage assigment was not supported by scorpio"
Hi all.

I'm running the last version of pangolin:

Using only genomes with coverage >= 95%, I noticed some incongruencies (the same are obtained on online version https://pangolin.cog-uk.io/)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<body>

taxon | lineage | note
-- | -- | --
EPI_ISL_1161405 | None | pangoLEARN lineage assignment B.1.1.318 was not supported by scorp

[2021-12-03 10:18] rmcolq commented on #355
This is deliberate - it means that the model in pangoLEARN has assigned a lineage, but that when we look explicitly for the defining mutations of that lineage (or a parent) which is a VOC/VUI using scorpio, we can't satisfy ourselves that it is a correct lineage assignment. There is no lineage that we are able to call here because a false positive VOC/VUI call would be a BAD THING.

Two things to

[2021-12-03 10:25] rmcolq commented on #355
E.g. your first example with `--usher` comes back as B.1.575. I suspect that pangoLEARN is having problems with some of your sequences being perhaps more distantly related from the designated set? You are welcome to raise an issue in https://github.com/cov-lineages/pango-designation proposing high quality ones be added to the designated set to improve future calls with pangoLEARN

[2021-12-04 19:40] Fitzy1293 opened #356 "Minor change to clean() in ./pangolin/pangolearn/pangolearn.py"
# Change how characters are handled in clean() to use a set

Checking for the character's exists here using a set might be clearer and faster.
This is a minor change. Do you allow minor pull requests for stuff like this or do they have to be more substantial?

https://github.com/cov-lineages/pangolin/blob/e6745873d13a96e29be2d1015351652e7c741534/pangolin/pangolearn/pangolearn.py#L32-L33

Changes t

[2021-12-07 08:08] XubCherif commented on #353
Despite I was pulling covlineages/pangolin:latest in each run. In fact, constellations was 0.0.21, and it needs manual update after each time I pull.  Issue resolved by moving to staphb/pangolin:latest (giving 0.0.25 by default).
Thanks @aineniamh !
Thanks also @aunderwo I noticed that you secured to resolve the web app issue rapidly

[2021-12-07 08:12] #353 closed

[2021-12-07 17:51] dezordi commented on #355
Alright, thanks @rmcolq.

[2021-12-07 17:51] #355 closed

[2021-12-13 16:29] ggrimes opened #357 "Conda install channel priority"
I was having issues installing pangolin with conda using the example given in the docs

[code]

[code]

It was fixed by giving conda-forge a higher priority.

[code]

[2021-12-20 12:13] manolis80 opened #358 "DecisionTreeClassifier"
Hi,

I installed pangolin

pangolin: 3.1.17
pangolearn: 2021-12-06
constellations: v0.1.0
scorpio: 0.3.16
pango-designation used by pangoLEARN/Usher: v1.2.105
pango-designation aliases: 1.2.112

but when I'm running it I have this UserWarning

/home/.../anaconda3/envs/pangolin/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from ver

[2022-01-10 14:43] rmcolq commented on #358
We don't believe it is a problem, just a warning from a dependancy: https://github.com/cov-lineages/pangolin/issues/246

[2022-01-10 14:43] #358 closed

[2022-01-10 15:06] rmcolq commented on #356
We accept minor pull requests - sometimes takes us a little longer to merge them into master/a release

[2022-01-21 12:03] AnyaKovalenko commented on #318
Hello @ThiagoRBM
I have the same issue with the pangolin. Please could you say how did you resolve this? Many thanks in advance.

[2022-01-21 12:13] AnyaKovalenko commented on #318
Now it works :) just missed <.> in the <pip install.>

[2022-01-24 23:00] DOH-SML1303 opened #359 "B.1.1.228 - Valid lineage?"
I have spotted a lineage B.1.1.228 (estimate early 2020s to mid 2021, primarily U.S) that is not on the list of pangolin lineages at https://cov-lineages.org/lineage_list.html. I can't seem to find any information on this lineage, but I do see (primarily) USA sequences in GISAID that has been assigned to this lineage. Is this a valid lineage and perhaps was missed to be included in the ultimate li

[2022-01-25 00:23] AngieHinrichs commented on #359
Good find @DOH-SML1303.  It is a valid lineage -- [pango-designation/lineages.csv](https://github.com/cov-lineages/pango-designation/blob/master/lineages.csv) has 165 representative sequences for B.1.1.228.  I don't know how lineage_list.html is generated, but I see B.1.1.228 does not appear in [pango-designation/lineage_notes.txt](https://github.com/cov-lineages/pango-designation/blob/master/line

[2022-01-27 13:24] aknijn opened #361 "Latest stable release (v3.1.1.18) not updating"
Upon pangolin --update the latest version is not installed: pangolin (3.1.17) is newer than latest stable release (v3.1.1.18), not updating

[2022-01-27 13:53] aineniamh commented on #361
This isesolved now, try again?

[2022-01-27 13:53] #361 closed

[2022-01-27 13:54] aknijn commented on #361
Perfect!

[2022-01-28 08:52] LukVasNVSPL opened #362 "New update fails to run on usher"
After updating to the:
- pangolin updated to v3.1.18
- pangoLEARN already latest release (2022-01-20)

And running:
`pangolin seqs.fasta --usher `

Pango fails to complete the program:
[code]
The error does not fail when run without --usher flag.
After reinstalling using conda (or mamba) `conda install -c conda-forge -c bioconda -c defaults pangolin` , the program runs successfully and fails again

[2022-01-28 11:27] rmcolq commented on #362
Will fix asap

[2022-01-28 12:08] #362 closed

[2022-01-28 12:22] #341 closed

[2022-01-31 20:36] philiptzou opened #364 "Misclassification: Alpha / B.1.1.7"
It seems EPL_ISL_2650990 has most of the signature B.1.1.7 mutations but it is classified as B.1.1 (pangolin: 3.1.17; pangoLEARN: 2022-01-20). Similar issues found for EPI_ISL_2650701, EPI_ISL_2650621, EPI_ISL_2650820, EPI_ISL_2650965, EPL_ISL_2650990, etc.

[EPI_ISL_2650990](https://github.com/cov-lineages/pangolin/files/7974111/EPI_ISL_2650990.fas.txt) (Pango calls B.1.1):

<img width="1331" alt

[2022-02-01 15:31] jacaravas opened #365 "BA.3 misclassification from pangoLEARN"
The latest version of pangolin is erroneously classifying a large number of sequences as BA.3.  These calls are unsupported by Scorpio/Constellations.  In a previous release, these were typically called B.1.1.  These sequences mostly correspond to the Nextclade 20B clade.

![Omicron-BA 3](https://user-images.githubusercontent.com/48955152/151998040-17b56c64-53d3-4ea6-a9a4-47d5cfc67596.png)

**Exam

[2022-02-02 18:40] krobison13 opened #366 "Misclassification of Alpha as Omicron in GISAID"
There are a large number of sequences in GISAID that GISAID tags with Omicron lineage and a Pango lineage such as BA.1 / BA.1.1 but which have collection and submission dates predating the Omicron discovery in November 2021

It would appear in the case of hCoV-19/USA/CT-JAX-J000048/2021|EPI_ISL_1203832|2021-02-15 that (I have not looked at more examples) this sequence is classified as Alpha by Nex

[2022-02-02 20:19] AngieHinrichs commented on #366
Wow, USA/CT-JAX-J000048/2021 does look like a plain B.1.1.7 sequence (with a few reversions to reference pointed out by nextclade).  I would expect Scorpio to have overridden the BA.1.1 call because Scorpio doesn't identify it as Omicron.  Strangely Scorpio doesn't call it as Alpha either:
[code]

@krobison13 have you tried pangolin --usher?  It is slower than pangoLEARN but determines the lineage

[2022-02-04 13:48] geocarvalho opened #367 "What's the meaning of "Omicron (Unassigned)""
Hello team, thanks for the nice work.
I have found some cases this week where you can find this `None` assigned as lineage and `Omicron (Unassigned)` for scorpio call.

[code]

The data looks good, so any idea about it?

Thanks.

[2022-02-04 14:31] rmcolq commented on #366
This has flagged a few things:
1. When pangolin checks for false positive VOC/VUI calls, it has been expanding the lineage call, but not expanding the list of VOCs it gets from scorpio. And easy fix on its way...
2. This sequence is not being classified as B.1.1.7 by scorpio because it has 4 reference calls and the threshold is currently set to 3. Are these ref calls due to true reversions or bioi

[2022-02-04 14:50] rmcolq commented on #367
It means that the quality of the sequences was not sufficient for a confident Omicron lineage classification, but was sufficient to be clear that the sequence was an Omicron. In the example provided, there were 26 alt alleles and 13 ambiguous bases at defining sites for the 'parent lineage' B.1.1.529 so we can be confident that it is Omicron. However this is not a true lineage - the true lineages

[2022-02-04 15:04] geocarvalho commented on #367
Thank you @rmcolq

[2022-02-04 15:04] #367 closed

[2022-02-04 21:43] krobison13 commented on #366
@AngieHinrichs I have not tried running

Here is a non-Alpha sequence (clade 20A in NextClade) which is being classifed as BA.1.1 -- I remembered this time to check this on the Nextclade web app
hCoV-19/Spain/VC-IBV-99034177/2021|EPI_ISL_3925372|2021-06-11

despite relatively few amino acid changes (8 substitutions+3 single amino acid deletions in Spike, 8 substitutions in other genes)

[2022-02-05 08:46] Rezwanuzzaman opened #369 "BA.1.1 Misclassification"
I have noticed a few sequences (n=61) in GISAID being misclassified as BA.1.1 by a recent constellation update. Those sequences belong to the different non-omicron phylogenetic cluster (analysis report and phylogenetic tree attached here with). The collection dates of those sequences are prior to the discovery of Omicron in November, 2021.

List of sequences affected:
Accession ID
EPI_ISL_2461319

[2022-02-07 10:04] rmcolq commented on #369
I have just pushed a new release which should fix these

[2022-02-08 01:59] philiptzou commented on #364
@rmcolq Thanks for the response! No, those sequences are not very recent. I found them from discordances from the comparison between Pangolin and our [Spike genotyper](https://github.com/hivdb/sierra-core/tree/ec06bdc72d89ca5aac17540322cc5c63761113a3/src/main/java/edu/stanford/hivdb/genotypes). Thanks for providing the explanation and fixed the P.1 classification.

[2022-02-08 09:38] rmcolq commented on #369
I can confirm that these are all fixed in the latest release. They now have assignment "None"

[2022-02-08 09:38] #369 closed

[2022-02-08 09:41] rmcolq commented on #366
These 2 examples are both fixed in the latest release

[2022-02-08 09:41] #366 closed

[2022-02-08 09:50] rmcolq commented on #364
Just extending on this before I close the issue, for sequences like these (slightly lower quality/more ambiguous), we would recommend using the `--usher` mode (which will become default in the next major pangolin release). For your examples, in usher mode, you would get a lineage assignment of "None" for all 3 sequences due to the sequence qualities (therefore avoid the wrong A lineage assignment

[2022-02-08 09:50] #364 closed

[2022-02-08 19:59] srx3001 opened #370 "Supplying both pangoLEARN and constellation datadirs"
Hi all,

I just realized I cannot supply both pangoLEARN and constellations file at once using --datadir.

A bit of a background here - we are using a bit of a strict versioning system, so I cant just update the tool constantly, I think it wont be  efficient enough.
Using --update or --update-data is also a no due to write permissions that are a bit problematic.
For me it would be best if I could

[2022-02-08 21:56] #365 closed

[2022-02-08 21:56] jacaravas commented on #365
Seems to be resolved or minimized in new release

[2022-02-09 10:22] rmcolq commented on #370
It should work if there is a subdirectory of your datadir called "constellations".
Pangolin and its data dependancies receive regular updates and only calls made with the latest versions are considered valid assignments at any time.

[2022-02-11 18:27] rmcolq commented on #344
This appears to be a stale issue. Feel free to reopen if not resolved

[2022-02-11 18:27] #344 closed

[2022-02-14 18:56] AjayArora35 opened #371 "General questions about Pangolin Update Process"
To whom it may concern:

1.  When "pangolin --update" or "pangolin --update-data" is executed, are the downloaded files stored in a temporary folder prior to updating the original Pangolin code?

2.  Is there documentation that describes the internal working of how the update process is executed?

Thank you.
aj

[2022-02-15 14:45] julesjulesjules commented on #318
I am also experiencing this issue now. @ThiagoRBM how did you resolve yours? @AnyaKovalenko what was the full command that you used that needed a "."?

[2022-02-15 14:59] theosanderson commented on #318
I would assume `pip install .`

[2022-02-16 06:30] Pratibhakadam opened #372 "Lineage defining mutations presence is compulsory in the variant"
Hello There,

I have been working with the genomics of Sars-CoV-2. I found that in some strains one or two Lineage defining mutations has not seen though they are determined as Delta(Other lineage defining mutations are present).

So, How the tool determine the lineage on the basis of lineage defining mutations ? Is it ok to not have one of the lineage defining mutation in the strain?

Please clar

[2022-02-16 10:27] aineniamh commented on #372
Hi @Pratibhakadam, there is a certain level of flexibility in the required number of defining mutations for a given variant. Variants of concern (such as Delta and Omicron) are checked within the pangolin software by a tool called scorpio (https://github.com/cov-lineages/scorpio). To allow for missing data (like amplicon dropouts) or some small level of issues in bioinformatic analysis (like mista

[2022-02-16 11:15] #371 closed

[2022-02-16 22:39] rmbarnett-rice commented on #359
FYI, same story for `B.1.88.1`.

[2022-02-24 09:30] k-srdjan opened #373 "License question"
Hi all, not a code or tool issue, but a license question.
We are looking into using pangolin as one of our reporting tools, in a commercial sense.
Is pangolin allowed for commercial use? Pangolin, pangoLEARN and scorpio use GNU General Public License v3.0.

This is not the case for pango-designation and constellations which have a non-commercial license,  but since they get used by pangolin doesn'

[2022-02-24 20:20] wodanaz opened #374 "5% of BA.1.1 carrying the R346K mutations are classified as BA.1"
Hi folks,
In our genomic surveillance data, we have been consistently finding that about 5% of samples with high quality sequencing seem to be misclassified as BA.1 even when using the most recent version of pangolin and pangoLEARN. In addition, almost all the misclassified samples BA.1s have a phylogenetic backbone that corresponds to BA.1.1 and they have great calling quality for the R346K mutat

[2022-02-24 21:50] klsheridan opened #375 "Are there stickers for your logo(s)?"
Clearly a very important inquiry. If these stickers do, in fact, exist.... can we buy some?

-Krystal

[2022-03-01 13:00] Sreelekshmi-291 opened #377 "Omicron samples reassigned as 'None' in pango version 3.1.20"
Around 300 of our in-house genome samples were assigned 'BA.2' in the previous versions of Pango (versions- 3.1.17 & 3.1.19) but were reassigned as 'None' in the latest pango update (version-3.1.20).
The samples are of medium to high coverage.
Attached is a file containing sample sequences
[none_issue_seqs.txt](https://github.com/cov-lineages/pangolin/files/8161727/none_issue_seqs.txt)

[2022-03-04 16:26] rmcolq commented on #377
They do look like BA.2 sequences and are being rejected at the moment because they have the reference C allele at defining nucleotide site C10198T. If you are confident that this is a true reference allele at this site, I can look to update the constellation for BA.2

[2022-03-05 10:03] stefanhelfert commented on #377
Which kit were the samples analysed with?

[2022-03-10 13:27] Sreelekshmi-291 commented on #377
We checked for the mutation C10198T in our samples and 84% of them have the reference allele C at site 10198.

[2022-03-10 13:28] Sreelekshmi-291 commented on #377
We use Illumina COVIDSeq

[2022-03-10 13:32] rmcolq commented on #377
I'll update the definition shortly

[2022-03-11 14:20] rmcolq commented on #377
I have just published a new constellations release which should fix this!

[2022-03-11 14:20] #377 closed

[2022-03-15 16:07] DOH-SML1303 commented on #359
Could we get the lineage list at https://cov-lineages.org/lineage_list.html updated with those lineages? My team scrapes the data from those pages to do a form of QC check to validate lineage data coming from our sentinel labs and it would be helpful to have those two lineages included.

[2022-03-17 02:54] AngieHinrichs opened #380 "handle_cache branch: generate_final_report needs to combine scorpio from preprocessing step with cache results"
I made a new cache file with Rachel's new `--skip-scorpio` option (still local, haven't pushed it to pangolin-assignment yet); however, `generate_final_report` does not yet do the same kind of scorpio-overriding for results from the assignment cache that it does for results from inference.  So, while testing with the scorpio-less assignment cache (local file), the results are missing scorpio data.

[2022-03-18 20:34] #380 closed

[2022-03-18 20:52] AngieHinrichs opened #382 "handle_cache: generate_final_report needs skip_scorpio flag"
`generate_final_report` currently doesn't take skip_scorpio as an arg, so it doesn't know when it's in effect and scorpio overriding should not be applied as usual.  I will send a PR.

[2022-03-18 21:16] AngieHinrichs opened #383 "handle_cache: missed de-indentation in last merge causes 'Unassigned' unless designated or scorpio-assigned"
I neglected to de-indent the last else: clause in generate_final_report after my last change, so while it's intended to apply only to unmapped sequences, it's applying to inferred sequences that aren't designated or called by scorpio.  Will send PR soon.

[2022-03-20 18:04] #383 closed

[2022-03-23 13:17] coreymeloche opened #385 "Cannot access pangolin web application"
![PANGO Error](https://user-images.githubusercontent.com/86015486/159707752-22880bb2-ec5b-4bda-979a-16045dfb4546.PNG)

Good morning - I have been trying to access the pangolin web application for the last 24 hours will no success. Please let me know when it is expected to be up and running. Or is there an new web address? Thank you in advance!

[2022-03-23 18:36] AngieHinrichs commented on #385
@antunderwood [antunderwood](https://github.com/antunderwood) ?

[2022-03-23 18:59] CorinY commented on #385
Hi Angie,

Apologies to our users but we've got a temporary issue with a handful of our websites at the CGPS and the Pangolin web server is one of them. We're trying to resolve it, and they should be back up fairly soon. I will comment back here once I know it is up again.

Best wishes,
Corin

[2022-03-23 19:02] jemstone78 commented on #385
Pangolin web application isn't working for us either. Does anyone know if the web application will also be updated? The current version was from 2-28-2022.

[2022-03-23 19:05] CorinY commented on #385
Hi @jemstone78 ,

I can also confirm it was updated shortly before going down. You can run your genomes against the newest version also at https://pathogen.watch/, though you have to register an account there.

Best wishes,
Corin

[2022-03-24 09:30] aegaskin opened #386 "Pangolin doesn't update as expected"
Hello, I was wondering if I could raise an issue I've been experiencing with Pangolin. (If there's an easy solution to this, please let me know, because that'd be amazing!) 😄

I've been logging the version of pangolin I use by first running something along the lines of:

**Check the version already installed**
`pangolin --all-versions`

**Update pangolin**
`pangolin --update`

**Check the version

[2022-03-24 09:52] SharifShaaban-PHS commented on #386
Hi, I am seeing the same issue, however, would like to add that further to the behaviour above, `pango-designation used by pangoLEARN/Usher: v1.2.127` also remains constant and does not update.

[2022-03-24 12:19] CorinY commented on #385
Hi @coreymeloche, @AngieHinrichs, @jemstone78,

https://pangolin.cog-uk.io/ is back online, our apologies for any problems this may have caused. This was a pure logistical glitch and we've set things up so it doesn't happen again.

Best,
Corin

[2022-03-25 08:01] Penpitchaisaluckygirl commented on #386
Hi there, I've got the same problem.
I updated using pangolin --update, and I think the program meet the last version.

pangolin already latest release (v3.1.20)
pangolearn already latest release (2022-02-28)
constellations already latest release (v0.1.4)
scorpio already latest release (v0.3.16)
pango-designation updated to v1.2.134

After runing, pangolin lineage didn't update.

[2022-03-25 11:42] aineniamh commented on #386
Thanks for flagging, I'll look into this as soon as possible (currently on annual leave, but may get a chance tomorrow)!

[2022-03-29 16:18] aineniamh commented on #386
Okay I've looked at this using these versions
[code]
Everything bar the pango-designation aliases is the latest version released (@SharifShaaban-PHS your issue is resolved because that's the latest version available, that can be checked on the pangolearn repo).

I run `pangolin --update`
[code]

And then `pangolin --all-versions` gives:
[code]
I'm finding I can't replicate the issue as this is exp

[2022-03-30 11:19] aineniamh commented on #386
The pango_version is the version that the model was trained on, whereas the  pango-designation aliases is just the version of pango-designation installed so that pangolin can print out the alias file.
In the next few days I'm going to release pangolin 4.0 that won't have pango-designation as a dependency, and will just have a single version that corresponds to the version of the data the model and

[2022-03-31 06:16] indexofire commented on #386
I have the same issue that pangolin was updated by conda. I installed it in a new environment, the designation version still stay in 1.2.124 which will not include some lineages like BA.2.2 ?

[code]

[2022-03-31 12:36] EricFournier3 opened #390 "Question regarding update to v4.0"
Hi,

regarding the upcoming update to v4.0, will it be possible to continue to update pango-designation separately in version 3. We need to do some changes in our Quebec pipeline prior to use your new version 4

Thanks
Eric

[2022-03-31 12:43] aineniamh commented on #390
Hi @EricFournier3, we're going to continue to release pangoLEARN and pango-designation as before for the near future to give everyone a bit of time to make the changes they need. It will eventually get phased out to just pangolin-data (although pango-designation will continue to be updated as before, it will no longer be a pangolin dependency).

[2022-03-31 12:46] EricFournier3 commented on #390
Thank you @aineniamh, but when we will execute `pangolin --update`, does it will automatically update to pangolin v4 or we will have the choice to install v4 separately ?

[2022-03-31 12:57] aineniamh commented on #390
If you try update pangolin it will update to the latest version, which will be 4.0. If you use the `--update-data` flag instead it will only update the data dependencies rather than the software.

[2022-03-31 12:59] EricFournier3 commented on #390
perfect. You can close this ticket. Have a nice day Aine

[2022-03-31 13:15] rrdavis77 commented on #390
Sorry to piggy back on this topic.  With the imminent release of 4.0, can you share the new headers and how they are different from 3.*?  Wanted to start changing our pipeline in anticipation!  Thanks!!!

[2022-03-31 14:18] aineniamh commented on #390
Of course, no worries! They're here: https://cov-lineages.org/resources/pangolin/output.html and an example output file is attached below!
[lineage_report.csv](https://github.com/cov-lineages/pangolin/files/8390221/lineage_report.csv)

[2022-04-01 08:57] aegaskin commented on #386
Thanks for taking a look at this, Áine, it's much appreciated!

[2022-04-01 09:22] aineniamh commented on #386
So just checking why pangolearn wouldn't have updated @indexofire- the [conda recipe](https://github.com/bioconda/bioconda-recipes/blob/fbf9ba005caa86c6d8b0ad9f209b9926a49bdbe5/recipes/pangolearn/meta.yaml) is not specifying the latest model version, so bioconda only has the second most recent release.

There'll be a new release today, so it should hopefully all get updated then- @pvanheus @druvus

[2022-04-01 09:54] aineniamh commented on #375
So, technically yes- because in a fit of procrastination about a year ago I made a [redbubble](https://www.redbubble.com/i/sticker/pangolin-by-aineotoole/64507291.EJUG5) account. But they set the prices and to get a sticker from them is pretttty steep (by the way you can also get t-shirts, mugs, bedspreads and shower curtains, which I find very funny). If you know of another sticker place that is

[2022-04-01 09:55] aineniamh commented on #374
Hi @wodanaz, thanks for your comment- if possible can you file this issue in [pango-designation](https://github.com/cov-lineages/pango-designation) as this repo is specifcially for bugs with the software rather than issues with lineage assignments/ designations.

[2022-04-01 09:55] #374 closed

[2022-04-01 09:57] aineniamh commented on #359
Just catching up on issues here- the source of that lineage list is on pango-designation, I'm not sure how they went missing! I'll cross post to there and see if @chrisruis can track them down!

[2022-04-01 10:02] aineniamh commented on #359
I'll close here and it they'll get found soon!

[2022-04-01 10:02] #359 closed

[2022-04-01 10:07] #370 closed

[2022-04-01 10:38] RaverJay commented on #390
Looks good, this will simplify things a lot

[2022-04-01 10:46] aineniamh commented on #343
Just to follow up- for pangolin 4.0 (set to be released today), I've made a [workflow diagram](https://cov-lineages.org/resources/pangolin/pipeline.html) which may help show the steps in the updated assignment process. I'll continue to add more details to that page as any changes come about in future.

[2022-04-01 10:48] #261 closed

[2022-04-01 15:41] aineniamh commented on #338
In pangolin 4.0, we now report pangolin, scorpio, pangolin-data and constellations versions! Thanks for your patience!

[2022-04-01 15:41] #338 closed

[2022-04-01 15:41] aineniamh commented on #354
Done in parallel now in 4.0!

[2022-04-01 15:41] #354 closed

[2022-04-01 15:42] #372 closed

[2022-04-01 15:45] aineniamh commented on #356
Just seeing this style change now and I like it, I've pushed it to master and it'll get included in next release!

[2022-04-01 15:45] #356 closed

[2022-04-01 15:46] aineniamh commented on #390
Going to close this now as the release notes for the update have all this info in them now!

[2022-04-01 15:46] #390 closed

[2022-04-01 15:47] aineniamh commented on #385
Glad this has been resolved, thanks for sorting it out @CorinY!

[2022-04-01 15:47] #385 closed

[2022-04-01 15:48] #343 closed

[2022-04-01 21:51] kapsakcj opened #393 "pangolin-data github tag version inconsistent with version in __init__.py"
Posting here since I believe the solution would have to be implemented in `pangolin` code rather than `pangolin-data` code

I have found this to be a bit confusing since these versions do not match and thus the outputs of `pangolin --update` and `pangolin --all-versions` show discrepant versions.

This also leads to `pangolin --update` repeatedly downloading `pangolin-data` since I believe it look

[2022-04-01 22:04] BenjaminSchwessinger opened #394 "Update to version 4 issue with faToVcf -includeNoAltN"
Hi,
Great work. I just updated to version 4 of pangolin and the faToVcf -includeNoAltN in the usher step didn't work. I had to download it from ucsc directly http://hgdownload.cse.ucsc.edu/admin/exe/ and put the downloaded version into the PATH of the environment. faToVcf has no version flag so it wasn't immediate obvious.

Just putting it here in cases others have the same issue.

[2022-04-01 23:03] rrdavis77 opened #395 "memory issue with pangolin version 4 and pangoLEARN"
Performed the update to version 4 today and ran a test query on ~50 samples and it worked as expected in UShER mode.  However, in pangoLEARN mode `--analysis-mode fast`, I am running out of memory.  I only have 12GB of RAM on this test system but I can run pangolin version 3.* with no problems on the same system.
Have the requirements for version 4 changed in terms of memory use?

Thanks!

[2022-04-01 23:10] AngieHinrichs commented on #394
Hi @BenjaminSchwessinger, thanks for posting the workaround!  Unfortunately, for a major version change like v3 -> v4, `pangolin --update` is insufficient because there are conda environment changes, not just updates to the pangolin code.  For example, in the [v4 environment.yml](https://github.com/cov-lineages/pangolin/blob/98c871f45fd541b3ab4565f3c4429371c6b72ad2/environment.yml#L14) file, faToV

[2022-04-01 23:40] BenjaminSchwessinger commented on #394
Great thanks @AngieHinrichs. We just have an automatic update in our script to always fetch the latest versions of pangolin hence this issues I think. I updated everything now as recommended as well from the repo as conda https://anaconda.org/bioconda/pangolin is still at version v3.1.20. Worked like a charm as well.

[2022-04-01 23:40] #394 closed

[2022-04-01 23:46] AngieHinrichs commented on #394
Great, thanks for confirming @BenjaminSchwessinger!  I bet a lot of scripts include `pangolin --update`.  @fmaguire had a good suggestion to make `pangolin --update` check for major version change, and warn instead of doing a partial update that won't work!

[2022-04-01 23:50] indexofire commented on #386
@aineniamh I installed all packages via pip+git, the version updated and everything was fine. I also update pangolin to v4.0, the result is correct either. thanks.

[2022-04-02 00:41] kapsakcj commented on #395
Just noticed this myself too. The error message doesn't say it explicitly, but memory usage swelled when testing pangolearn mode with the supplied test sequences `pangolin /pangolin/test/test_seqs.fasta --analysis-mode pangolearn -o test_seqs-output-plearn`

Logs for failure here:
https://github.com/StaPH-B/docker-builds/runs/5796292215?check_suite_focus=true

[2022-04-02 02:36] fanninpm commented on #395
Note to self: this is a perfect candidate for profiling with [Scalene](https://github.com/plasma-umass/scalene).

[2022-04-02 06:59] aineniamh commented on #386
Excellent! Glad it's all working!

[2022-04-02 06:59] #386 closed

[2022-04-02 07:09] aineniamh commented on #393
Thanks for posting! I think my preference would be to have a single tag per relese that matches the version number in the init.py file.

The complication comes from the change that I've synchronised the version numbers for pango-designation and pangolin-data, which means if an issue arises in pangolin-data that requires another release to fix, we need to retain the pango-designation version number

[2022-04-02 07:46] aineniamh commented on #395
The changes to pangoLEARN in pangolin 4 include a shift to a random forest model by @emilyscher. This model was performing more robustly to missing data and homoplasies, and is less overfit than the decision tree model so is a definite welcome shift.

I'll add a warning about memory usage to the user, as 12GB is a lot, but had been under the impression that it uses 5GB of RAM- saying that I was st

[2022-04-02 15:11] rrdavis77 commented on #395
I am not sure how many users process their data on <16GB RAM systems but that was possible with pangolin v3.  A warning would be great.  An optimization would be nice for those users with less ressources at their hands but perhaps that is a very small subset of users?

[2022-04-02 18:19] druvus commented on #386
@aineniamh I have added a PR to update the conda pangoLEARN version (for those that are using pangolin 3). The bioconda bot should detect the updates automatically but it seems to be some issues with pangoLEARN and some other packages. I suspect it might be a bug not handling capital letters correctly but I haven't had to look into it.

I will try to fix the update of pangolin 4.0 in Bioconda by f

[2022-04-02 23:48] tseemann opened #396 "Confused by help msg for --analysis-mode"
[code]

The above text is confusing to me.
Are there 2 options or 3 options?
what are the option names? `usher` `pangoleanr` `accurate` `fast` ?
Or are some aliases for the others?

[2022-04-03 02:35] tseemann commented on #395
Thanks for posting, this solved a mystery of crashes when I increased `parallel -j XX` for pangolearn.
Finally checke system logs and see it was being killed by the kernel OOM killer:
[code]

[2022-04-03 02:35] tseemann commented on #395
[Sun Apr  3 11:18:43 2022] Out of memory: Killed process 3307066 (python) total-vm:31142324kB, anon-rss:10222624kB, file-rss:0kB, shmem-rss:0kB, UID:1424802263 pgtables:21788kB oom_score_adj:0
[Sun Apr  3 11:18:44 2022] oom_reaper: reaped process 3307066 (python), now anon-rss:0kB, file-rss:0kB, shmem-rss:0kB```

[2022-04-04 00:54] AngieHinrichs commented on #396
The option names are `accurate`, `fast`, `pangolearn` and `usher`.

`accurate` is an alias for `usher` (the default) and `fast` is an alias for `pangolearn`.

If that makes sense can you suggest a rewrite?  Thanks!

[2022-04-04 02:09] charlesfoster opened #397 "pangolin v4 errors out with some filenames"
Hi there,

Thanks for continuously developing `pangolin`. One little bug in version 4: if a filename has parentheses, `pangolin` errors out with a bug:

[code]
Looks like the awk command isn't happy. A simple renaming of the file leads to the analysis working:
[code]

I know having parentheses in filenames isn't good practice, but sometimes it happens ;) Could this perhaps be fixed?

[code]

Cheer

[2022-04-04 05:47] agurtler opened #398 "Pangolin failed on FaToVcf step"
Hello !

Thank you for your work on Pangolin !

On this new v4 version, I have issues using classic usher mode.

[code]

It seems that the option `-includeNoAltN` does not exist (or still exist) for faToVcf.

Am I doing something wrong ?

Cheers,
Antoine

[2022-04-04 06:57] agurtler commented on #398
I did a new full installation and it's working.
The issue appeared to me after using `pangolin --update` and `pangolin --update-data`

[2022-04-04 07:07] aineniamh commented on #398
Hi @agurtler, the update flag is only valid for minor releases, major releases require a full environment update as other dependencies may have changed too!
Glad you got it sorted though!
https://cov-lineages.org/resources/pangolin/updating.html

[2022-04-04 07:07] #398 closed

[2022-04-04 08:26] aineniamh commented on #395
Thanks for flagging this, 30GB of RAM sounds like a lot more than we had expected. The model itself shouldn't be that large, it could be an issue of holding lots of sequences in memory at once.
I guess one solution could be to have options:
- usher
- pangolearn-rf (the new random forest option)
- pangolearn-dt (the original decision tree option available in v3)

The rf has shown to be a more robus

[2022-04-04 08:36] aineniamh commented on #396
Yeah, this was to give two mode options: fast and accurate, which currently correspond to either pangolearn or usher. In future we might have more inference modes and fast/ accurate would correspond to the fastest or most accurate modes available then.

It seemed important to also let the user be explicit about what inference method to use: usher, pangolearn ... whatever method might come along.

[2022-04-04 08:36] aineniamh commented on #382
Thanks for this!

[2022-04-04 08:36] #382 closed

[2022-04-04 08:37] aineniamh commented on #397
I've fixed this in a branch now, will tag a patch release!

[2022-04-04 08:41] #397 closed

[2022-04-04 10:03] rgerhards commented on #395
As a reference point the German RKI DESH [1] sequences require currently "a bit" over 8GiB main memory (I could go up to 10 on one VM, and then it finished).

[1] https://github.com/robert-koch-institut/SARS-CoV-2-Sequenzdaten_aus_Deutschland

[2022-04-04 10:38] rgerhards opened #400 "pangolin abort w/ empty log file (running under cron)"
I try to run pangolin 4.0 as part of a cron job. Unfortunately, pangolin aborts relatively quickly and without a real error message - see screen shot below (note: I redirected output, the stderr and stdout are not nicely mixed, especially the "running in pangolearn" initial message is at the bottom). The mentioned log file is a also empty. /var/log/syslog is also empty, so it is not out-of-memory

[2022-04-04 10:56] aineniamh commented on #400
I'd recommend try running the command in `--no-temp` mode in combination with `--outdir` perhaps as it's not clear what step is failing here. It could be the awk step (this convoluted awk statement is to avoid having to write the input file out multiple times when checking for pre-aligned sequences and special characters in the sequence name).

In no temp mode the intermediate files should all be

[2022-04-04 11:01] rgerhards commented on #400
thx, will try and report back.

side-question: is there any debugging info inside the doc planned? I would happily contribute the little bits I know so far...

[2022-04-04 11:57] rgerhards commented on #400
Things begin to clear up. As I thought, the abort is right at the beginning, after stdin_query.fasta is written. The log file just contains `/bin/bash: line 1: minimap2: command not found`. This points to an improper conda pangolin activation. I'll dig a bit into this,

[2022-04-04 12:18] rgerhards commented on #400
I am a bit puzzled. Inside the script I added
* manual call to `minimap2` -> works
* `whereis minimap2` -> finds binaray (same as in screen)
* `conda env list` -> I am  in pangolin env
* output of all env vars (`env` command)

It still fails and the log file reads `/bin/bash: line 1: minimap2: command not found`.
Output here: https://gist.github.com/rgerhards/f537084b7229b5141c4ab6cca72a3653

[2022-04-04 12:32] rgerhards commented on #400
extra piece of information. Just before the pangolin call, I added a small python script:
[code]
That also successfully calls `minimap2`.

And, again: if run in a regular (or `screen`) terminal session, `pangolin` works. It fails if called via cron
[code]

[2022-04-04 13:39] rgerhards commented on #400
I patched `preprocessing.smk` to use the hardcoded full path when calling `minimap2`. For now, at least `minimap2` works. Very strange. not sure about `gofasta`.

[2022-04-04 13:52] aineniamh commented on #400
We've been updating the cov-lineages website using a cronjob, and this involves running pangolin within in (which as far as I can tell hasn't broken from v3->v4).

Our crontab looks like:

[code]

We have within the run_datapipe_and_grinch.sh script that gets run:
[code]

[2022-04-04 16:22] Desperate-Dan opened #401 "Appears to be a tmp folder persisting?"
Hello! I've run pangolin a couple of times since the update and there appears to be a tmp folder that persists after completion that contains a lot of what look to me like intermediate files:

![image](https://user-images.githubusercontent.com/84576669/161587073-7185f377-a84c-40a8-8fe0-3780dfe305f7.png)

It's always called tmpXXXXXXXX which changes each time (eg above is tmprk5ptk5p) so potentiall

[2022-04-04 18:23] EricFournier3 opened #402 "Missing lineages from pango-designation v1.2.141 in lineages.hash.csv with pangolin pangolin v4.0.1"
Hi,

is this normal that we don't see recombinant XP, XQ, XR and XR in **/envs/pangolinV4/lib/python3.8/sitepackages/pangolin_data/data/lineages.hash.csv  ?

[code]
Thank you
Eric

[2022-04-04 19:45] AngieHinrichs commented on #402
Hi @EricFournier3 -- yes, those new recombinant lineages were designated very recently, in pango-designation release [v1.2.141](https://github.com/cov-lineages/pango-designation/releases/tag/v1.2.141).  Your pangolin-data version corresponds to an earlier pango-designation release, v1.2.133.  Currently @aineniamh is re-training the pangoLEARN model, and I am working on a new lineageTree.pb for USh

[2022-04-04 19:52] EricFournier3 commented on #402
Ok, thank you @AngieHinrichs.

[2022-04-04 19:53] #402 closed

[2022-04-04 20:08] AngieHinrichs commented on #401
@Desperate-Dan can you send the pangolin command line that you're running?  Where is the tmp folder created?  And can you send the last ~10 lines of pangolin output?  Thanks.

[2022-04-04 21:03] jacaravas opened #403 "--use-assignment-cache error: Error: Git LFS file not pulled successfully. Please install git-lfs"
I am having an issue getting the "--use-assignment-cache" switch to run correctly.  The full output/error I am getting is:

[code]

I have followed the instructions in the error message.  After installing git-lfs, running `git lfs install`  returns `Git LFS initialized.`, so that appears  to be working correctly.  I installed the pangolin-assignment using git as instructed.  I also manually ran `p

[2022-04-04 22:24] AngieHinrichs commented on #403
Sorry to hear that @jacaravas!  Are you running `pangolin --use-assignment-cache` in a script/workflow or just on the command line?  Can you send the output of these commands?:
[code]

[2022-04-05 09:23] GorgonVZ opened #405 "pangolin 4.0.1 ignores --max-ambig filter"
Dear pangos,
since the last major update I run into problems regarding the --max-ambig filter. Running the command below I would expect every sequence with N-content >= 90% to fail. However, despite presenting fastas with 80% N content all of them are passed within lineage.csv
It looks like pangolin ignores the parameter and falls back to default 30% N Content.

###The N-content of my Input fasta

[2022-04-05 09:28] GorgonVZ commented on #405
[Run32_CovSmallerThan80.fasta.gz](https://github.com/cov-lineages/pangolin/files/8416795/Run32_CovSmallerThan80.fasta.gz)

[2022-04-05 11:51] aineniamh commented on #401
So that looks like everything that would be output from the preprossessing.smk pipeline, I can't seem to replicate this as the directory is cleared as expected on my system. If you try running in verbose mode and see where it says your tempdir lives it might give a clue?

[2022-04-05 12:20] stefandiederich opened #407 "Error in rule usher_interface"
Hi,
I have Pangolin version 4.0.1 and get the following error when performing a simple analyis.

[code]

In the above mentioned LOG file I see the following

[code]

Do you have any idea what is wrong with my installation? In fast mode anything is going well.
Thanks in advance
Stefan

[2022-04-05 12:27] aineniamh commented on #407
Hi @stefandiederich, I'm not sure if it's the same issue, but we just released 4.0.2 that has a patch for this step in and avoids using the `<`  in this line for compatibility issues:
[code]

If you update to 4.0.2, does this resolve your issue?

[2022-04-05 12:46] stefandiederich commented on #407
@aineniamh
Thanks for answering that fast.
If I run this command line separatly I get the message

[code]
So I run faToVcf to see all possible options, which are:

[code]

Do I need to install a certain version of faToVcf?

Bests Stefan

[2022-04-05 13:07] jacaravas commented on #403
Hi @AngieHinrichs,

At the moment, I am just evaluating different options on the command line to see what impact they will have on our system performance.  They will be added to a workflow later.  `--analysis-mode fast` and `--analysis-mode accurate` are both working, but once I try `--use-assignment-cache`, I get the error described above.

There is no output from conda activate.  I am starting t

[2022-04-05 13:44] stefandiederich commented on #407
Thanks a lot. That did the trick ;-)

Bests Stefan

[2022-04-05 13:44] #407 closed

[2022-04-05 15:43] rgerhards commented on #401
I have the same issue and worked around it by clearing at end of pipeline. This is the case for all types of runs, including successful one. I can confirm it fills the disk if no manual cleanup is done. I run pangolin with `--tempdir <directory>`.

[2022-04-05 16:39] garfinjm opened #409 "No entry in lineage_report.csv for very short inputs"
Hello!

Thanks for all your work developing this great tool! I've been testing V4 and noticed that when I give pangolin V4 a short sequence it gets filtered out at the preprocessing `align_to_reference` step, resulting in a `lineage_report.csv` that contains only the header line. Would it be feasable to add a warning when this happens?

Below is a walkthrough for replicating the issue. Thanks for

[2022-04-05 16:42] aineniamh commented on #401
That's very interesting @rgerhards, everything should get wrtten to a tempdir that gets cleared automatically upon completion (uses python tempdir module). Are you still seeing all the intermediate files?

[2022-04-05 16:44] rgerhards commented on #401
I need to re-run as soon as the current run is through (as I said, the pipeline clears temp files out). Will happily do that, but will take me at least until tomorrow morning to provide more info.

[2022-04-05 16:53] AngieHinrichs commented on #393
Comment from @fmaguire in ubioinfo slack:

Although something like versioneer https://github.com/python-versioneer/python-versioneer or python semantic release https://python-semantic-release.readthedocs.io/en/latest/ is probably simplest

[2022-04-05 17:48] IsabelFE commented on #403
I am having the same issue. I am also testing the use of `--use-assignment-cache`.

error:
[code]

conda list git-lfs:
[code]
conda list pangolin
[code]

[2022-04-05 18:00] EricFournier3 commented on #409
Hi,
it seems that sequences having N content of 1.0 are also filtered out from the report. With version 3, results for those sequence are saved as fail in the status column. Is this expected ?

Thank you

[2022-04-05 18:22] aineniamh commented on #409
It's unexpected, thanks for flagging! I'll follow up and see why this is happening.

[2022-04-05 18:34] AngieHinrichs commented on #403
Thanks!  The conda list output shows that git-lfs is installed as expected, but the error message indicates that the installed cache file is just a git-lfs pointer, instead of the actual large file that should be installed in its place.  So it seems that something went wrong during the `pangolin --add-assignment-cache` step.

Next command to try (in the same activated conda environment):
[code]
I

[2022-04-05 18:40] IsabelFE commented on #403
[code]

I deleted and installed again and got the same size file

[2022-04-05 18:54] AngieHinrichs commented on #403
Thanks @IsabelFE!

I was able to duplicate the problem in an environment that did not already have git-lfs, and I think the problem is that installing git-lfs with conda is not enough -- `git-lfs install` must be run (good idea @jacaravas), and it must be run *before* `pangolin --add-assignment-cache`.  This series of commands fixed the problem in my environment:
[code]
I think the solution (in th

[2022-04-05 19:01] IsabelFE commented on #403
Thanks @AngieHinrichs!!

I followed your instructions and this time I got a bigger file (174192980). I am testing `--use-assignment-cache` now and I am not getting the same error.

[2022-04-05 19:33] AngieHinrichs commented on #403
Great, thanks so much @IsabelFE for confirming, and sorry about the inconvenience!  I will make sure this is fixed soon.

[2022-04-05 19:56] jacaravas commented on #403
This resolved my issue.  Thanks, @AngieHinrichs!

[2022-04-05 19:56] #403 closed

[2022-04-05 21:39] jacaravas opened #410 "--use-assignment-cache error: AttributeError: 'NoneType' object has no attribute 'startswith'"
Hello,

Thank you for helping me resolve my [previous issue](https://github.com/cov-lineages/pangolin/issues/403).  Unfortunately, I encountered another error immediately after that was solved.

When running with `--use-assignment-cache`, I am getting the following error:
[code]

The lineage_report.csv file is truncated and contains only 329 of the 1000 sequences I analyzed.  `--analysis-mode accu

[2022-04-05 22:35] tseemann commented on #396
Thanks @AngieHinrichs and @aineniamh

Maybe something like this:

[code]

[2022-04-05 22:38] tseemann opened #412 "Could --analysis-mode scorpio make sense?"
I was wondering if it was possible to just run `scorpio` and skip USHER and PangoLearn altogether?

This would be for when one only cares about designated VOCs. It would be faster and still provide a pangolin compatible outfile.

But it's also possible I am not udnerstanding properly :-)

[2022-04-05 22:39] AngieHinrichs commented on #410
Thanks @jacaravas!  I was able to find the sequence that matches that hash and triggers the bug, and reproduced the crash locally, so I should be able to fix it soon.

[2022-04-06 01:57] #410 closed

[2022-04-06 02:01] AngieHinrichs commented on #410
Thanks again @jacaravas -- I believe this is fixed now in the latest source (unreleased).  Hopefully @aineniamh can review and maybe roll another patch release?

[2022-04-06 07:00] rgerhards commented on #401
I can confirm the issue. file system after run:
[code]

one log file:
[code]

pangolin call:
[code]

Versions:
[code]

I'll update to 4.0.x soon.

[2022-04-06 07:18] KatSteinke opened #414 ""Sequences" consisting only of N's disappear in pangolin output - desired behavior?"
I'm using Pangolin as part of a workflow to analyze batches of samples. This includes negative controls and the occasional sample for which no sequence could be found, so the fasta is just a bunch of N's for these. In the final report the workflow creates, those samples should still be reported, however, so that we know there indeed was nothing in the negative control or that a sample failed. With

[2022-04-06 07:21] #414 closed

[2022-04-06 07:27] KatSteinke commented on #409
Looking at the logs sequences with N content of 1.0 are dropped fairly early, before sequences are hashed - in a test run with 7 samples, two of which have N content of 1.0, pangolin reports `Query sequences collapsed from 5 to 5 unique sequences`.

[2022-04-06 10:27] aineniamh commented on #412
Yeah, I can add that in- theoretically the user could just run scorpio independently, but I guess it's useful to have the alignment step against the correct reference automated in pangolin.

[2022-04-06 12:01] aineniamh commented on #405
Thanks for flagging this, I'll have a look today- the logic of how we check these things has changed as we attempt alignment prior to the qc check now.

[2022-04-06 12:25] GorgonVZ commented on #405
Thanks,
you are awesome!!!

[2022-04-06 13:03] KartofellSalat commented on #405
Same issue with the `--min-length` parameter, I've submitted a way too short sequence and it went through, actually I did not find anywhere this parameter was used anymore.

[2022-04-06 13:50] rgerhards commented on #401
Update: same with 4.0.2 I now also have a scorpio log file (with no helpful info as far as I can see).

[2022-04-06 15:08] rgerhards opened #416 "classification differences pangolin 3/4 w/ same pangoLEARN expected?"
I see large differences in assignments when using pangoLEARN "version" 2022-03-22  under pangolin 3 vs 4. Is this expected behavior? A small sample with variant counts for the same FASTA set:

![tmp](https://user-images.githubusercontent.com/1482123/162005640-c26fd526-e4a9-4fe7-a02a-f27c43c4bb67.png)

A google sheet with more select differences is available here: https://docs.google.com/spreadshee

[2022-04-06 15:09] Desperate-Dan commented on #401
Apologies for the delay, I've done some tweaking and I believe my issue was being caused by running pangolin in the /tmp directory within a docker container. Switching to another directory in my container for running pangolin means that the pangolin /tmpXXXXX dir is produced in the container's /tmp dir, so isn't maintained when the container shuts down. If I keep the container running though I can

[2022-04-06 15:21] rgerhards commented on #401
For me, it is a regular VM install, so no container involved.

I was a bit lazy and just did a `grep -r tempfile` over the pangolin source tree and what came up were calls to `tempfile.mkdtemp()`. Not sure if I missed other relevant bits by not doing a real code review. If not, `tempfile`doc says:

"**The user of mkdtemp() is responsible for deleting the temporary directory and its contents when d

[2022-04-06 15:26] rgerhards commented on #401
Oh, indeded. 3.1.20:
[code]
TemporaryDirectory() *does* cleanup when done (https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryDirectory)

4.0.2 changed this to `mkdtemp()`, which does NOT cleanup.
[code]

commit: https://github.com/cov-lineages/pangolin/commit/d30284bea3e178454807195bb4d7bf6c53975133

[2022-04-06 15:33] rgerhards commented on #416
thx for the clarification. Was just surprised by the magnitude.

[2022-04-06 15:33] #416 closed

[2022-04-06 16:04] aineniamh commented on #401
I think that is the source of the issue you're right, I've added in a cleanup step to the current dev branch and will just see if it passes tests!

[2022-04-06 16:15] aineniamh commented on #412
I think I've got this in now, just checking tests pass.
- The sequences will be classed as `Unassigned` if they don't get assigned something by scorpio
- If they do, the mrca_lineage field in scorpio will be reported
- The `version` column will be `SCORPIO_v0.1.4`, where v0.1.4 corresponds to the version of constellations that was used to do the scorpio assignments (I think reporting a Pango linea

[2022-04-06 17:22] aineniamh commented on #405
I've added in a fix now! Just waiting for tests to finish. The way we process sequences now is we actually align them before checking the qc.

Sequences that dont successfully align (potentially because of qc issues) are reported at the end as 'failed to map'.

What this means for the `--min-length` argument is that by the time we check the sequences, they're all the same length.
What I've done is

[2022-04-07 07:52] BCArg opened #417 "Error in rule rule usher_inference - invalid option for faToVcf"
Hi,

I have been using pangolin, below is the env information:

[code]

I am getting the following error:

[code]
So far I could not resolve the issue by reinstalling faToVcf. Also it appears that pangolin can finish if I just create a new env from scratch and install it via `mamba install -c bioconda pangolin`

Thanks for checking

[2022-04-07 09:41] rgerhards commented on #417
I had a similar issue just this night. I ran out of main memory on the VM. I can see in syslog that the OS out-of-memory killer was activated and killed `faToVcf`. My VM had 12GiB main memory (plus 1 GiB "emergency swap").

Another thing to check is temp disk space? I had a couple of similar abort (but in other components) when I ran out of disk space.

[2022-04-07 09:48] aineniamh commented on #417
[code]
You just need an updated version of faToVcf (same issue in #394 and #398!).
The latest pangolin environment file has `ucsc-fatovcf>=426` in it. If you try updating the environment, as it looks like you're running `ucsc-fatovcf=407=hd50662f_0`.

[2022-04-07 10:59] BCArg commented on #417
Thanks, updating `ucsc-fatovcf=426` solved the issue

[2022-04-07 10:59] #417 closed

[2022-04-07 12:41] gyebra-phs opened #418 "Disagreements between USHER and PangoLEARN for some recombinants"
Hi all,

I was wondering if I could get some advice on the following issue: we have been testing the new Pangolin v4 and seen that, even though PangoLEARN and USHER agree on the lineage assignment in most cases, there are some differences particularly when analysing recombinant sequences (just to clarify, both runs had Scorpio deactivated because it seems to overwrite any recombinant assignment wh

[2022-04-07 13:20] #409 closed, assigned to nobody

[2022-04-07 13:21] aineniamh commented on #396
Resolved in pangolin v4.0.3!

[2022-04-07 13:21] #396 closed

[2022-04-07 13:21] aineniamh commented on #401
Resolved in pangolin v4.0.3!

[2022-04-07 13:21] #401 closed

[2022-04-07 19:53] kapsakcj commented on #395
I've found that for a single sample with pangolin v4.0.2, it requires roughly 11.5 GB RAM. Anything less will run OOM.

though it would be more thorough if the memory usage was profiled as @fanninpm suggested!

[2022-04-07 20:27] rrdavis77 commented on #395
Similar finding; for batches of 2000 samples could not run on a 12GB RAM system but increasing to 16GB was successful.

From: Curtis Kapsak ***@***.***>
Sent: Thursday, April 7, 2022 12:53 PM
To: cov-lineages/pangolin ***@***.***>
Cc: Ryan Davis ***@***.***>; Author ***@***.***>
Subject: Re: [cov-lineages/pangolin] memory issue with pangolin version 4 and pangoLEARN (Issue #395)

I've found that f

[2022-04-07 21:14] yl315504 opened #419 "version 4.0 NameError: name 'no_temp' is not defined"
I have run pangolin for half a year. Each week I analyze Covid in DFW area. After Pangolin was updated this time, I got error complaining
"name 'no_temp' is not defined".

Below is the code I use. It was fine before Pangolin 4.0.

nohup pangolin --outdir /work/08270/yanliu74/ls6/UTSW_covid/Project_JAS_2022_03_30_COV119_11769_0/Project_JAS_2022_03_30_COV119_11769_0.trim.t0.5.ivar.fasta_pangolin_fil

[2022-04-07 22:23] AngieHinrichs commented on #419
I have no idea why that would behave differently between pangolin v3 and v4, but the option should be `--no-temp` (with a dash) instead of `--no_temp` (with an underscore).

[2022-04-07 22:27] tseemann commented on #412
Wow, thanks @aineniamh !
This will lower the barrier to using scorpio significantly.
eg.  `scorpio` command was not put into the `bin/` folder or PATH by default, and the reference setting etc.

[2022-04-07 22:51] yl315504 commented on #419
It is a typo. I used "--no-temp".  Please see the code below. The code works for V3, but not V4.

nohup pangolin --outdir /work/08270/yanliu74/ls6/UTSW_covid/Project_JAS_2022_03_16_COV117_11718_0/S69_pangolin_files \
--outfile S69_pangolin.txt \
--max-ambig 0.5 --no-temp \
--tempdir /work/08270/yanliu74/ls6/UTSW_covid/Project_JAS_2022_03_16_COV117_11718_0/S69_pangolin_files \
/work/08270/yanliu74/

[2022-04-08 03:08] yl315504 commented on #419
I used "--no-temp", but the error massage shows "no_temp".
NameError: name 'no_temp' is not defined

[2022-04-08 08:19] aineniamh commented on #419
Okay, it was a bug that only shows up if the pipeline fails for another reason. I've fixed that- but I suspect there might be something else that gets flagged with this update!

[2022-04-08 09:02] KHajji opened #420 "Information about analysis mode ends up in --all-versions output and --aliases output"
This seems to me to be unintended behaviour. Especially if the output of these commands is considered to be valid yaml and json in e.g. pipelines.

https://github.com/cov-lineages/pangolin/blob/663c6d26445fd8f2aad1794b6f6ad8da1f1d63af/pangolin/command.py#L143-L157

[2022-04-08 11:34] aineniamh commented on #420
Fixed now in v4.0.4!

[2022-04-08 11:34] #420 closed

[2022-04-08 11:34] aineniamh commented on #419
Fixed now in v4.0.4!

[2022-04-08 11:34] #419 closed

[2022-04-08 13:01] dpark01 opened #421 "pangolin --all-versions pollutes STDOUT with ANSI chars"
It seems that since the switch to pangolin v4, `pangolin --all-versions` now emits something like the following (as viewed via `less`):

[code]

Whereas previously in pangolin v3, it was strictly a machine-parsable list of version numbers. Given that `pangolin --all-versions` is frequently parsed by wrapper scripts and pipelines and conveyed downstream in public health reporting, it would seem to

[2022-04-08 14:54] yl315504 commented on #419
As expected, we have a new error. NameError: name 'tempdir' is not defined.

I guess this new issue was caused by other issues. Is it possible to find the real issue?

[2022-04-08 16:11] SamaZYX commented on #419
I think it comes from a typo of variable tempdir in Line 248 and 250 in command.py . It should be args.tempdir or something like that.

And I still see the typo --no-tmp in line 56 in v4.0.4

[2022-04-08 19:35] EricFournier3 opened #422 "Options --max-ambig is not working with version 4"
Hi,

Here is an example with a sequence having N content of 0.6. Normally, we should expect lineage to be `None` as in version 3

(pangolinV3) [foueri01@inspq.qc.ca@slbio00d TEST_PANGOLIN]$ pangolin --all-versions
pangolin: 3.1.20
pangolearn: 2022-03-22
constellations: v0.1.4
scorpio: 0.3.16
pango-designation used by pangoLEARN/Usher: v1.2.133
pango-designation aliases: 1.2.141
(pangolinV3) [fouer

[2022-04-09 02:47] AngieHinrichs commented on #419
Thank you @SamaZYX for spotting those typos!  Lines 248 and 250 are executed only when there was an error in an earlier stage.

@yl315504 can you send the complete output of pangolin?  (You can attach the file `output.txt` from your command to this issue)

[2022-04-09 03:14] yl315504 commented on #419
@AngieHinrichs

I attached the
[output.txt](https://github.com/cov-lineages/pangolin/files/8456136/output.txt)
![output_files](https://user-images.githubusercontent.com/25533752/162554291-f7f2c1f7-8094-4a81-b808-ab8d0e246805.PNG)
 output.txt and the files generated.

[2022-04-09 05:38] yl315504 commented on #419
I re-installed the environment. It works.

Thank you guys!

[2022-04-09 07:16] aineniamh commented on #419
I've just fixed the typos flagged by @SamaZYX there- they only get called if something else fails within the pipeline, that's how they passed the tests, note to self: must add more tests.

Sounds like the root issue was an install problem, glad it's sorted!

[2022-04-11 09:33] KartofellSalat opened #423 "Is ambiguity_score applicable for USHER results or only for pangoLEARN ?"
It may look like a silly question but I noticed that when running pangolin with USHER the `ambiguity_score` is always an empty string. Does this means that this field is not to be considered when using USHER or is that synonym of ambiguity_score = 0 ?

Thank you ;)

[2022-04-11 09:56] aineniamh commented on #422
The desired behaviour in pangolin 4.0 is that max-ambiguity is the cut off for the inference method (pangoLEARN or UShER). Scorpio has explicit SNPs it checks for so it is still possible to get a VOC call through scorpio even if the sequence doesn't pass the max-ambiguity threshold.

[2022-04-11 17:22] jemstone78 opened #424 "Pango web application not displaying latest Pangolin version"
I noticed that the Pangolin web application is still displaying version 3.1.20 from 2-28-2022, and saw the release notes for Pangolin v4.0 and that the web application would also similarly experience an update. Is the web application going to be updated soon for the newest Pango version? Thanks

[2022-04-11 17:34] CorinY commented on #424
Hi @jemstone78, the website will be updated but I can't give an exact timeline for now. There are a few more checks and changes we have to make compared to a normal update. It may also be a good time to clear out some technical debt, putting the site on a more robust and sustainable footing for the future.

I'll announce back in this thread when it's done.

Best wishes,
Corin

Senior Research Soft

[2022-04-11 18:14] joel-bitscopic opened #425 ""None" result... bug?"
Hello,

Pangolin's command line tools as well as the website are giving a "None" result for the attached sequence (renamed ".fasta" to ".fasta.txt"). Nextclade's website is giving a clade (and pango lineage) result. The sequence looks fine upon manual inspection & alignment. 3 amino acid deletions (2 in S, 1 in ORF1a) and a single nucleotide deletion towards the end.

I thought this may be a "bug"

[2022-04-11 22:30] AngieHinrichs commented on #423
Not a silly question, but a good reminder that we should update the [documentation](https://cov-lineages.org/resources/pangolin/output.html).  You're right, ambiguity_score is specific to pangoLEARN.  There is also a conflict column which is populated for both pangoLEARN and UShER.  For UShER, it is the number of equally optimally parsimonious placements (EPPs) that disagree with the assigned line

[2022-04-11 23:39] AngieHinrichs commented on #425
@joel-bitscopic when I run pangolin on the attached file I get this (in lineage_report.csv):
[code]
B.1 is assigned (2nd column).  The only "None" that I see comes from the name of the sequence, given in the first line of Pangolin_NONE.fasta.txt as
[code]

If I edit Pangolin_NONE.fasta.txt so that the name is just `PHRL 22 3288/BCRL11.2022-04-06.02/barcode23/ARTIC/medaka` without the inline JSON d

[2022-04-12 07:29] Sarahvl commented on #417
I updated ucsc-fatovcf=426 but my pipeline is still not making a pangolin result file again.

I ready on the issue #394 that the directories need to be changed (pangoLEARN and pango_designation directories need to be replaced to directory pangolin_data), but I don't know how to do this?

[2022-04-12 08:37] KartofellSalat commented on #423
I see, thanks a lot for this explanation !

[2022-04-12 08:37] #423 closed

[2022-04-12 11:26] joel-bitscopic commented on #425
Hello @AngieHinrichs

Thank you very much for taking the time to respond!

I edited my FASTA header to "none fasta" and re-ran through Pangolin's website and it's still telling me "None" for the lineage. I downloaded the CSV output just to make sure what was showing on the webpage matched the file:

[code]

I see your output's CSV file is showing different metadata information than the website. I'

[2022-04-12 14:10] corneliusroemer opened #427 "BUG: `attributeError in line 28 of pangolearn.smk: 'DecisionTreeClassifier' object has no attribute 'n_features_'`"
When running pangolin v4.0.4 installed via bioconda with mode pangolearn, I get the following error:

`attributeError in line 28 of pangolearn.smk: 'DecisionTreeClassifier' object has no attribute 'n_features_'`

<img width="2546" alt="image" src="https://user-images.githubusercontent.com/25161793/162981070-b0eb61e6-e91a-4958-8856-2317e9bf9a0c.png">

<img width="2544" alt="image" src="https://user

[2022-04-12 14:29] corneliusroemer opened #428 "Q: Is it possible to use a particular data release, to downgrade? Or is update a one-way-street?"
I have issues with the latest data release, see #427.

So I thought, alright, let me just downgrade to the previous release. But now I can't see an option for this in the pangolin command line. Am I missing something or does this feature not exist?

If it doesn't exist, may I suggest it be added?

[2022-04-12 14:30] aineniamh commented on #427
<img width="752" alt="Screenshot 2022-04-12 at 15 30 07" src="https://user-images.githubusercontent.com/11678307/162985918-942e7292-a795-4e9a-9e05-3dbaea433107.png">
All runs fine on my system and it's passing github actions tests, perhaps check your install?

[2022-04-12 14:31] corneliusroemer commented on #427
Ah that's good news :)

Strange, I'll reinstall and try also locally. Let's see if anyone else will have this problem. Maybe a broken model installation.

Bioconda is struggling with v4 I think

[2022-04-12 14:35] aineniamh commented on #428
It is possible!
```pip uninstall pangolin-data && pip install git+https://github.com/cov-lineages/pangolin-data@v1.2.133.2```
But just put the specific version you'd like after the `@`, the example I've got here just has the second most recent release!

[2022-04-12 14:37] fmaguire commented on #427
I strongly suspect this may be one of those "conda has randomly decided to install an odd and weirdly old version of certain dependencies (e.g., sklearn)" situations.

 It is always an annoying bug to track down because it seems local cached package versions is a major factor.

[2022-04-12 14:38] aineniamh commented on #427
The error suggests it's looking for a decision tree classifier, which would be related to pangolin 3.0, rather than 4.0. It could be that you've conflicting versions of pangolin installed and it's mixing inputs?

[2022-04-12 14:40] aineniamh commented on #427
Although, I'm not very familiar with how the rf model works- so maybe the individual components are just called decision tree classifiers anyway.

[2022-04-12 14:53] corneliusroemer commented on #427
Alright, uninstall, reinstall and `--update` fixed it.

If anyone encounters this, try it. If it doesn't work, comment and we'll reopen.

[2022-04-12 14:53] #427 closed

[2022-04-12 15:08] aineniamh commented on #428
No worries! 😄

[2022-04-12 16:23] AngieHinrichs commented on #417
@Sarahvl we recommend a conda environment update as described here:
https://cov-lineages.org/resources/pangolin/updating.html

If it's still not working after you do a full update, please send the complete output of pangolin so we can look for error messages.

[2022-04-12 16:25] AngieHinrichs commented on #425
Ah OK, in order to update from v3 to v4, a full conda environment update is necessary.  Instructions are here:

https://cov-lineages.org/resources/pangolin/updating.html

[2022-04-12 20:39] 65eg opened #431 "Error in iqtree_with_guide_tree"
I am unable to get Pangolin to successfully complete a run.  The error generated is CalledProcessError in line 76 of /miniconda3/lib/python3.7/site-packages/pangolin/scripts/assign_query_lineage.smk:

Command 'set -euo pipefail;  iqtree -s PangolinTemp/tmpplbvwzup/tax242361tax.aln.fasta -bb 1000 -au -alrt 1000 -m HKY -g /miniconda3/lib/python3.7/site-packages/lineages/data/anonymised.aln.safe.fast

[2022-04-12 21:57] AngieHinrichs commented on #424
That's great @CorinY!  I'd just like to check regarding the data version though: [2022-04-09](https://github.com/cov-lineages/pangoLEARN/releases/tag/2022-04-09) is a release of the pangoLEARN repository which was a dependency of pangolin v3, and is still in place for use by pangolin v3 installations.  But in [pangolin v4.0](https://github.com/cov-lineages/pangolin/releases/tag/v4.0), the data dep

[2022-04-13 00:34] fmaguire commented on #428
@corneliusroemer the little arbitrary version script now works for pangolin v4 (although too lazy to support changes over the v3->v4 boundary!).

https://github.com/fmaguire//pangolin_specific_version_tool

[2022-04-13 09:53] CorinY commented on #424
Hi @AngieHinrichs, I think it's just a problem with how we're handling the version information. The values that appear on the site are entered manually, and I still need to update that side of things. It's definitely Pangolin 4.0.5 and I see PANGO-v1.3 in the version field. Since everything is wrapped in docker we rebuild from scratch for every release, so at least in theory we shouldn't run into

[2022-04-13 10:12] aineniamh commented on #431
Hi @65eg. It looks like you're running a very old version of pangolin (~2 years old)- we're on pangolin v4.0 now. I suggest uninstalling your current version (to avoid conflicts) and reinstall from scratch!

[2022-04-13 11:06] leomrtns opened #432 "not working with compressed files"
Hello! I am having trouble working with compressed files (`xz` in my case), which used to be automatically detected before. I am using `pangolin 4.0.5`, and the file has the proper `xz` suffix.

Here is the full output:

[code]
(If I uncompress the file then everything goes smooth)

cheers,
Leo

[2022-04-13 14:56] wm75 opened #433 "Testing of pangolearn analysis mode"
I'm trying to update our Galaxy wrapper of pangolin to v4, but our tests with --analysis-mode pangolearn are failing without a proper error message. The same tests are passing locally for me.
Could it be that the pangolearn model has just become too resource-hungry by now to be compatible with our CI?
If that's the case, is there a less challenging way to test the pangolearn mode?

Here's my curre

[2022-04-13 15:16] aineniamh commented on #433
Have a read through issue https://github.com/cov-lineages/pangolin/issues/395, we've added a warning to the latest version as random forest does take more RAM, but actually shows greater accuracy whilst still being a very fast method!

[2022-04-13 15:19] wm75 commented on #433
Thanks @aineniamh. Had missed the issue with the actual numbers.
Is their no workaround for testing purposes then? If possible, I would like to have the pangolearn branch covered by our Galaxy wrapper tests and not just test usher exclusively.

[2022-04-13 15:25] wm75 commented on #433
btw, my local machine only has 8GB of memory, and if I close all other programs I can make our tests (which use just one single sequence) pass using one thread only. So at least under ideal conditions you can still get away with less than the 12GB mentioned in #395 :)

[2022-04-13 15:45] #424 closed

[2022-04-14 06:44] Sarahvl commented on #417
Dear,

I managed to get the pangolin working (from command line) but it is not working from the script (which was written by a consultant who doesn't work here anymore). So the problem is not pangolin itself.

We will try to contact the consultant to help with the script and to explain to us what was wrong.

thank you

ZNA | Sarah Van Lent | Klinisch Laboratorium | Wetenschappelijk medewerker Micr

[2022-04-14 15:03] pcjentsch commented on #432
I'm also having this issue, the contents of `minimap2_sam.log`:

[code]

[2022-04-15 01:20] philiptzou opened #434 "Panic error: index out of range [0] with length 0"
Hi, I found that Pangolin threw a panic error when a none-SARS-CoV-2 sequence was feed. The problematic sequence I tested is this one: https://www.ncbi.nlm.nih.gov/nuccore/AY910861.1?report=fasta

[code]

I know this sequence shouldn't be assigned with any lineage. However, a panic error may prevent subsequent process running and we should avoid it.

[2022-04-17 22:14] githubuser238 opened #435 "Error in rule usher_inference"
Hello,

After updating pangolin, I am now running into the error below.

Output for pangolin -v: pangolin 4.0.5
Output for pangolin -pv: pangolin-data 1.3

I've tried reinstalling the programs and updating. I've also tried chmod x+a /data/usr/.conda/envs/pangolin/bin/faToVcf

Any advice would be greatly appreciated!

The usher.log file comes out empty.

Input command: pangolin --analysis-mode ushe

[2022-04-18 08:55] FedeGueli opened #437 "Large mayority of sequences currently assigned to BA.2.12 doesn't carry defining mutation S:704L"

[2022-04-18 09:00] corneliusroemer commented on #437
This is a pangoLEARN issue, not a designation issue

[2022-04-18 10:31] FedeGueli commented on #437
Thank you Cornelius

[2022-04-18 16:57] aineniamh commented on #437
This is a designation issue @corneliusroemer as its very likely to have been caused by designated sequences with ambiguities at that site. The solution will be to remove those designated sequences.

[2022-04-18 17:03] AngieHinrichs commented on #437
I agree it's a designation issue but I think the main problem for BA.2.12 is that it's part of a large undesignated clade BA.2 + C25416T, and pangoLEARN needs sequences with C25416T but without S:704L to be designated as BA.2 so it doesn't get the false impression that C25416T only occurs in BA.2.12.

[2022-04-18 17:33] AngieHinrichs commented on #435
Sorry to hear you're having trouble with the update!  To help debug, I have a few questions:

1. What method did you use to update pangolin?  (We recommend a full conda environment update, instructions here: https://cov-lineages.org/resources/pangolin/updating.html)

2. Can you copy-paste the output of these commands?
[code]

[2022-04-18 22:28] FedeGueli commented on #437
@AngieHinrichs thank you ! Being 96% of sequences C25416T actually assigned to BA.2.12,  why not broademing BA.2.12 to C25416T ?
It wont change anything for other sublineages and notvhing would change with BA.2.12.1 (sublineage of interest). Thus broadening BA.2.12 starting with C25416T willl permit to designate correctly any new sublineage with epi relevance  popping out from that branch.
cc @cor

[2022-04-19 03:33] yxuil commented on #435
had the same error after update to the latest version (4.0.5).

faToVcf doesn't seem to have `-includeNoAltN` option

[code]

[2022-04-19 10:48] aineniamh commented on #435
HI @githubuser238,

You just need an updated version of faToVcf (same issue in https://github.com/cov-lineages/pangolin/issues/417,  https://github.com/cov-lineages/pangolin/issues/394 and https://github.com/cov-lineages/pangolin/issues/398!).
The latest pangolin environment file has ucsc-fatovcf>=426 in it. If you try updating the environment, this should resolve your issue.

[2022-04-20 09:03] aineniamh commented on #435
That looks like you still don't have permissions to modify faToVcf, because it's symlinked so it's failing to update versions.
```-bash: /data/usr/.conda/envs/pangolin/bin/faToVcf: Permission denied```

If you check `faToVcf --version`, I suspect it might not have updated correctly.

[2022-04-20 09:22] #432 closed

[2022-04-20 21:50] AngieHinrichs commented on #435
Thanks @githubuser238 for sending the command results.  Sorry but at this point I think the best approach would be to remove your pangolin conda environment, recreate it, and reinstall pangolin:
[code]

[2022-04-28 12:06] dbtara opened #439 "Usher version is not reported with --all-versions or updated with --update"
Hi,
 `pangolin --all-versions`  does not report usher version nor does  ` pangolin --update` update it. This latest patch to usher would have gone unnoticed by us if we had not been going through issues and interacting with @AngieHinrichs . My concern is that this update will be missed by a vast majority of users and will cause more confusion. Can reporting version and updating Usher be added to p

[2022-04-28 14:27] aretchless commented on #439
It may also be helpful to include usher version when reporting the assignment cache version, if that would affect those assignments (unless it can by synced with the locally installed version of usher).

[2022-04-28 17:48] AngieHinrichs commented on #439
Thanks @dbtara for raising this issue.  I agree that we need to make it easier to find the version of usher used by pangolin (and other tools while we're at it: faToVcf, minimap2 and gofasta are also important), and to make it easier for users to a) know when an environment update is necessary and b) update their environments.  We were already aware that this general issue with environment updates

[2022-04-28 20:21] AngieHinrichs commented on #439
Looks like 0.5.4 is available now:
[code]

[2022-04-28 22:10] kapsakcj commented on #439
+1 for adding the output of `usher --version` to the end of the output of `pangolin --all-versions` command.

Other dependencies may be useful to include there too, but are less important in my opinion if they are not updating frequently. For example `minimap2`. It probably isn't going to change in the future.

If using conda/mamba - users can always run `conda list` with the environment activated

[2022-04-28 22:46] rrdavis77 commented on #395
wondering if anyone is seeing an increase in memory usage with the latest pangolin-data version 1.8?  my jobs are failing when requesting 16GB.  I did not have that issue with pangoling-data version 1.6.  Thanks!

[2022-05-02 21:25] whottel commented on #422
Hi,

Is there a way to set a max ambig cutoff that would apply to scorpio as well?
On a recent run I had two sequences called as BA.3 with Ambiguous_content: 0.57 and 0.48.
When I checked the actual reads it looks like there is very little evidene that these are in fact BA.3, as the only mutatons on this list for BA.3 (https://github.com/cov-lineages/constellations/blob/main/constellations/definit

[2022-05-02 21:35] kapsakcj commented on #395
@rrdavis77 Same here. Roughly need about 16-17GB of RAM with `--analysis-mode pangolearn` with pangolin-data 1.8

[2022-05-02 21:47] kapsakcj commented on #395
16 wasn't enough, but 16.5GB was enough. I'm guessing the minimum is between 16 and 16.5GB?
[code]

[2022-05-03 15:58] corneliusroemer opened #441 "Pangolin requires cudatoolkit with 861MB size. Is that really necessary?"
Just reinstalled my pangolin environment and noticed that the environment is massive, at almost 1GB, just installing `pangolin`.

The biggest single culprit is `cudatoolkit` which is responsible for 861 MB out of 940MB.

So I'm wondering: is this really necessary? Which package requires the cudatoolkit?

[2022-05-03 18:58] kapsakcj commented on #441
Curious to know as well! My docker image more than doubled in size when I upgraded to pangolin-data 1.8 and usher 0.5.4
[code]

and the full conda env:
[code]

[2022-05-03 21:40] kapsakcj commented on #441
I believe `openmpi` and `ucx` require `cudatoolkit`? Not sure what other packages require openmpi and ucx as dependencies. I've gone down the rabbit hole a little bit on this one 😆
[code]

[2022-05-03 22:03] kapsakcj commented on #441
I think `usher` v0.5.4 is why `cudatoolkit` was brought in via `openmpi`
[code]
@AngieHinrichs @yatisht @yceh any thoughts? Is `cudatoolkit` a hard requirement for usher 0.5.4? It's leading to a pretty large & bulky conda environment

[2022-05-03 22:11] AngieHinrichs commented on #441
Yep -- this is a question for @yceh and @yatisht.  I believe @yceh has used OpenMPI to make some great improvements in matOptimize scalability and performance.  But if pangolin needs to be installed in disk-limited environments, maybe there's a need for a separate scaled-down bioconda package that has only usher, not matOptimize etc?

[2022-05-03 22:11] yatisht commented on #441
That is very weird. `matOptimize` requires MPI but not CUDA and I do not think we specifiy CUDA in our environment. @yceh could you please look into this?

[2022-05-03 22:17] kapsakcj commented on #441
Thanks for looking into it!

I will preface and say that in my examples above, everything shown is from the latest StaPH-B docker image for Pangolin. The install is similar to the standard pangolin install route via conda & pip, but with some specific versions pinned. Also I use `micromamba` instead of conda or mamba for speed & size.

[Dockerfile here](https://github.com/StaPH-B/docker-builds/blo

[2022-05-03 23:04] yceh commented on #441
Interesting. Are there any versions of cudatoolkit already installed?
"cudatoolkit >=9.2",and    "ucx 1.9.0"" are constraints, not depends, for openmpi, so they won't be installed if there is no pre-existing cudatoolkit.

[2022-05-04 09:42] KatSteinke commented on #441
I've been digging around in dependencies since I've noticed the same issue but couldn't 100% exclude that something else dragged cudatoolkit in, and spotted the same thing as @kapsakcj about usher 0.5.4 bringing openmpi 4.1.3 in. I tried to dig a bit deeper since older versions of usher also had openmpi as a dependency, just a lower version (4.1.2) and...
Comparing dependencies:
**openmpi 4.1.2**

[2022-05-04 11:05] corneliusroemer commented on #441
"cudatoolkit >=9.2",and "ucx 1.9.0"" are constraints, not depends, for openmpi, so they won't be installed if there is no pre-existing cudatoolkit of incompatible versions.

@yceh If you don't have it installed in the base environment it will have to install in the `pangolin` environment, or whatever you call it. And since it's recommended to keep the base environment lightweight, most people won'

[2022-05-04 13:14] KatSteinke commented on #441
@corneliusroemer at least as far as I understand [constraints in conda](https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#run-constrained), up to and including version 4.1.2, openmpi had cudatoolkit (and ucx, the likely "culprit" for cudatoolkit being required) as an optional package that didn't have to be installed, but *if* it was installed, it had to be the spe

[2022-05-05 08:55] wm75 commented on #441
It also feels like this should be brought to the attention of the openmpi folks. They moved ucx to the dependencies section only in the latest build of 4.1.3 a week ago. Would be good to know their reason for this at least.

[2022-05-05 09:06] ggouaillardet commented on #441
Can you please provide a link that states UCX is now a dependency of Open MPI?

As far as I am concerned:
 - Open MPI can be built without UCX (you'd have a crappy Infiniband support though)
 - UCX can be built without CUDA

Maybe the wording can be improved on the Open MPI side, but at this stage, I would argue these two requirements are choices made by the fine folks at `condo-forge`.

[2022-05-06 09:04] wm75 opened #445 "Meaning/handling of pangolin Unassigned, scorpio-replaced lineages"
Just finished lineage reassignment with pangolin v4 for a huge set of sequences and I notice that the vast majority of "Unassigned" lineages in the output looks like this:

[code]
I'm puzzled by both the meaning of these "assignments" and how we are supposed to handle it.

[2022-05-06 09:06] wm75 commented on #445
What I do understand is that scorpio replaced the original lineage assignment for all of these, but does that mean that the final pangolin lineage assignment should be "Unassigned"?

[2022-05-06 09:12] wm75 commented on #445
The "Unassigned" cases are also clearly from the first wave of omicron. Look at this subset of our (the Galaxy project's) tracking efforts of COG-UK data:
![Screenshot from 2022-05-06 11-09-51](https://user-images.githubusercontent.com/4742081/167102898-a2e87568-4f89-4735-bc35-97ad67754b77.png)

[2022-05-06 09:14] wm75 commented on #445
and this is independent of the assignment engine used, but seems to be a consequence of scorpio lineage replacement only.

[2022-05-06 09:42] aineniamh commented on #445
It's not possible for scorpio to assign an XE parent as a lineage, but in this case it was the best scoring constellation. It didn't quite meet the criteria to be classified as an XE recombinant lineage, but The BA.* sublineage constellation isn't met/ isn't ranked as highly as the other one.

Now, this may be something to do with us removing the probable labels from the constellations, we now hav

[2022-05-06 09:59] wm75 commented on #445
I see, thanks for the explanation @aineniamh !
Maybe it's generally a good idea to fall back to the original assignments if scorpio replacement would result in "Unassigned"?

Just to mention it: this isn't some few exotic cases, but the above plot is based on just a bit over 50,000 samples.

[2022-05-06 10:06] aineniamh commented on #445
In general the purpose of scorpio is to avoid false positives as much as possible- for instance if B.1.1.7 is called by usher or pangolearn, but scorpio identifies it doesn't have the defining mutations it will overwrite as Unassigned. In this case, the XE recombinant constellations complicate this situation as we don't want a parent lineage to be assigned.
I believe https://github.com/cov-lineage

[2022-05-06 10:17] wm75 commented on #445
If it helps we could reassign all our data with constellations from the recomb-compatible branch I think. If you're confident enough about the change (it will take some hours to recompute everything), just give me a go.

[2022-05-06 10:33] aineniamh commented on #445
Oh that would be a great independent check actually if you're happy to do that! I'm currently running a local test on a set of XE genomes and BA.1 genomes.

[2022-05-06 12:46] wm75 commented on #445
Aah! I realized only now that you've addressed exactly this issue here in scorpio 0.3.17 already. Our Galaxy environment is still at 0.3.16 (see also the report above). Rerunning some of the above lineages with 0.3.17 restores the assignments.
So, in a way your recomb-compatible branch of constellations is a solution that doesn't require a scorpio update and scorpio 0.3.17 implements what I had in

[2022-05-06 13:03] aineniamh commented on #445
Ah, I didn't quite realise that was the same issue as before- if the latest scorpio fixes your issue, maybe I'll leave the constellation as is then.

[2022-05-06 13:07] wm75 commented on #445
I *think* upgrading scorpio will fix it, and I'm going to close this now. Can still reopen if there are questionable remaining Unassigned cases in the full dataset.
Thanks for all your help and sorry for stealing some of your time!

[2022-05-06 13:07] #445 closed

[2022-05-09 20:16] AdrianLimaG opened #446 "USHER fatoVCF -includeNoAltN is not a valid option"
Hi ran into this issue after updating pangolin to 4.0.6. The root problem seems to be an invalid option when the fatoVCF function is called. See the detailed output below.
Any ideas on how to resolve this?

Using UShER as inference engine.
-includeNoAltN is not a valid option
[Mon May 9 14:51:16 2022]
Error in rule usher_inference:
jobid: 3
output: /tmp/tmpfqugzyx0/clades.txt
log: /tmp/tmpfqugzyx0

[2022-05-09 20:32] #446 closed

[2022-05-09 20:33] AdrianLimaG commented on #446
I found the other similar issues and am working to resolve it by updating the env.

[2022-05-11 13:49] huipingis opened #448 "Dr"
Dear Sir/Madam,

Attached are our results about covid NGS, in which some samples showed conflict score >0. I am wondering if it is because of contaimination during PCR and sequencing? I also wonder how to understand the conflict score > 0?

In the attached results, you can see Usher placement: BA.2 (8/9), BA.2.24 (1/9). I wonder what this means? Thanks.

Best regards,

Chen Huiping, MD, PhD

Unive

[2022-05-11 13:50] #448 closed

[2022-05-11 14:11] eddieimada opened #449 "Scorpio lineage replacement results in "Unassigned" lineage."
Dear pangolin developers and users,

After updating to the latest version (4.0.6), I started to observe a high number of "Unassigned" samples, that had been assigned lineages successfully in previous versions. This unassigned calls occurs even when the samples pass QC check.

I noticed that when Scorpio replaces usher lineage inference, the "lineage" field becomes "Unassigned". To confirm this, I

[2022-05-12 07:27] aineniamh commented on #449
We removed the 'probable' constellation definition for BA.* sublineages- this was originally intended to avoid false negatives when Omicron was first spreading and the SNP profile of the sublineages was a lot more distinguishable.

At this stage, particularly when BA.2, BA.4 and BA.5 are so similar, we now need to prioritise avoiding false positives in the case of missing SNPs. If you check some o

[2022-05-12 09:01] huipingis opened #450 "Usher conflict"
Dear Sir/Madam,

For the data: BA.2 (8/9), BA.2.24 (1/9), I wonder if in total 9 times of testing by Usher, 8 times of results with BA.2, and 1 time with BA.2.24?

Best regards,
Chen Huiping
University Hospital of Iceland

[2022-05-12 09:04] aineniamh commented on #450
@AngieHinrichs, is it that there are 9 equally parsimonious placements and 8 of them would give a BA.2 result and 1 of them would give a BA.2.24 result?

[2022-05-12 16:26] AngieHinrichs commented on #450
Yes, thanks @aineniamh!

@huipingis UShER evaluates the parsimony score (i.e. the number of substitutions required to transform that node's sequence into your sequence or vice versa) of placing your sequence at every node of input tree and reports the node(s) with the lowest score (fewest differences) and the associated lineage(s).  For pangolin, usher's input tree is a minimized version of the co

[2022-05-17 09:15] huipingis opened #451 "Samples Unassigned"
Dear Sir/Madam,

Recently we got results on COVID genotyping, and found some samples unassigned, see below:

NEG6_13052022 | Unassigned | 0,090909091 | PUSHER-v1.8v4.0.6 | pass | Ambiguous_content:0.15 | Omicron (Unassigned) | Usher placements: BA.2(10/11)   BA.2.11(1/11); scorpio replaced lineage inference BA.2

POS1_13052022 | Unassigned | 0 | PUSHER-v1.8v4.0.6 | pass | Ambiguous_content:0.12 |

[2022-05-17 13:14] huipingis commented on #450
Dear Sir/Madam,

Recently we got results on COVID genotyping, and found some samples unassigned, see below:

NEG6_13052022 | Unassigned | 0,090909091 | PUSHER-v1.8v4.0.6 | pass | Ambiguous_content:0.15 | Omicron (Unassigned) | Usher placements: BA.2(10/11) BA.2.11(1/11); scorpio replaced lineage inference BA.2

POS1_13052022 | Unassigned | 0 | PUSHER-v1.8v4.0.6 | pass | Ambiguous_content:0.12 | Pr

[2022-05-18 08:40] KatSteinke commented on #449
We've been seeing this for unambiguous Usher calls as well - we almost have more samples with no reported conflict affected than ones which do have conflict.

[2022-05-18 08:43] AndreaAguadoM opened #452 "Error in rule usher_inference"
Hello, my name is Andrea and I am currently working with SARS-CoV-2  Illumina paired-end amplicon sequences.
My problem resides on the following error lines when trying to run pangolin with my processed data:

Error in rule usher_inference:
    jobid: 3
    output: /tmp/tmpafu6mkrb/clades.txt
    log: /tmp/tmpafu6mkrb/logs/usher.log (check log file(s) for error message)
    shell:

        echo "U

[2022-05-18 08:48] aineniamh commented on #452
Hi @AndreaAguadoM, to get the error log you can run with `--no-temp`, however I suspect that you just need to update your conda environment and anticipate your error to be due to an outdated version of faToVcf (we've had this error reported a few times now with the update to pangolin 4.0).

[2022-05-18 09:46] Hideaki615 commented on #451
I've got the same issue when I updated my local pangolin_3.1.20 to 4.0.6.

Then it could be avoided by downgrading constellations-0.1.10 to 0.1.9, by executing a command like below.

$ conda activate pangolin
$ pip install git+https://github.com/cov-lineages/constellations.git@v0.1.9

Adding, I don't know how much it would be related, but I found the output of scorpio call is decreasing in the lat

[2022-05-18 10:12] aineniamh commented on #451
Unassigned is often a result of conflicting signals or reference calls that scorpio thinks would make a lineage call unreliable. If you suspect your sequences are from contaminated samples, this would exactly be why scorpio would mask the lineage call.

[2022-05-18 11:02] huipingis commented on #451
Thanks, Áine.

I wonder if the contamination can cause a wrong call, e.g., from B to BA.3 by using pangolin?

Regards,
Chen

[2022-05-18 11:02] huipingis commented on #451
Thanks, Áine.

I wonder if the contamination can cause a wrong call, e.g., from B to BA.3 by using pangolin?

Regards,
Chen

________________________________
Frá: aineniamh ***@***.***>
Sent: miðvikudagur, 18. maí 2022 10:12
Til: cov-lineages/pangolin ***@***.***>
Afrit: Huiping Chen ***@***.***>; Author ***@***.***>
Efni: Re: [cov-lineages/pangolin] Samples Unassigned (Issue #451)

Þú færð ekki o

[2022-05-18 11:11] #450 closed

[2022-05-18 13:40] EricFournier3 opened #453 "pango-designation v1.9"
Hi,
is this normal that pangolin-data doesn't update to 1.9 ?

(pangolin) [foueri01@inspq.qc.ca@slurm11p ~]$ pangolin --update
pangolin already latest release (v4.0.6)
pangolin-data already latest release (v1.8)
constellations already latest release (v0.1.10)
scorpio already latest release (v0.3.17)
(pangolin) [foueri01@inspq.qc.ca@slurm11p ~]$ pangolin --all-versions
pangolin: 4.0.6
pangolin-data

[2022-05-18 14:05] aineniamh commented on #453
Yes, it takes us some time to prepare the data release after the designation release has been tagged. It's on its way, but is not quite ready for release yet.

[2022-05-18 14:28] EricFournier3 commented on #453
perfect, thank you @aineniamh

[2022-05-18 14:43] #453 closed

[2022-05-18 14:44] #375 closed

[2022-05-18 14:46] aineniamh commented on #425
Going to close this issue as I believe a full environment update resolves this!

[2022-05-18 14:46] #425 closed

[2022-05-18 14:47] #433 closed

[2022-05-18 14:47] aineniamh commented on #431
Closing this as updating from pangolin 1.0 to 4.0 will resolve this issue.

[2022-05-18 14:47] #431 closed

[2022-05-18 14:51] aineniamh commented on #422
I think the status of this issue has changed as we have removed the 'probable' BA.* constellations. This gives a more strict definition of what these constellations are and will only get assigned if the sequence in question passes these thresholds. We believe that even if your sequence has a high N content, these defining sites are sufficient to call the variants. If you'd personally rather not ha

[2022-05-18 14:51] #422 closed

[2022-05-18 14:53] aineniamh commented on #435
Going to close as the issue is now stale, hope @githubuser238 managed to uninstall and reinstall successfully!

[2022-05-18 14:53] #435 closed

[2022-05-18 15:01] aineniamh commented on #451
Hi @huipingis, this can absolutely happen as conflicting signals can confuse the inference. This is why we curate the assignments and check this, reporting Unassigned if the sequence doesn't meet the scorpio checks.

[2022-05-18 15:06] aineniamh commented on #418
Hey Gonzalo, I completely missed this issue- recombination assignment is something we haven't fully solved right now. We're explicitly checking for XE recombinants through scorpio & constellations, but others are being assigned using the inference methods. UShER is likely to be more reliable in the case of recombinant lineages as @AngieHinrichs is hand-crafting the tree and branches for these line

[2022-05-18 15:07] aineniamh commented on #393
Going to close this as I think we've got a working solution now!

[2022-05-18 15:07] #393 closed

[2022-05-18 15:50] #418 closed

[2022-05-18 16:39] eddieimada commented on #451
Hi @aineniamh,
Does this means that if scorpio cannot confidently assign a lineage, the lineage call from UShER should not be trusted and discarded?

[2022-05-18 16:48] Aduboahen opened #454 "No ambuiguity score"
Since the update to 4.0.6 pangolin output does not report ambiguity score. After downgrading to 3.1.17 ambiguity scores are reported.

[2022-05-19 09:45] gyebra-phs opened #455 "Pangolin assigning lineage BA.2.12 to different phylogenetic clades"
Hi there,

I have noticed that in our data Pangolin is assigning the **BA.2.12** lineage to two different clades:

![image](https://user-images.githubusercontent.com/98325921/169261539-57cdd65e-eee9-45f6-a5c8-78119c912a99.png)

(Of note, the child lineage BA.2.12.1, descended from one of those clades, is monophyletic.)

Both clades have the S:S704L mutation, presumably acquired independently by th

[2022-05-19 12:47] huipingis commented on #451
Hi, Eddie,

Some samples were unassigned, probably due to low quality of the sequencing data, which is not for the whole genome, just a part of it. So accurate genotyping is impossible.

Regards,
Chen
________________________________
Frá: Eddie Imada ***@***.***>
Sent: miðvikudagur, 18. maí 2022 16:39
Til: cov-lineages/pangolin ***@***.***>
Afrit: Huiping Chen ***@***.***>; Mention ***@***.***>
Ef

[2022-05-19 22:26] AngieHinrichs commented on #455
Yes, it does seem that S:S704L has occurred more than once in BA.2.  If you paste your list of IDs into the [UShER web interface](https://genome.ucsc.edu/cgi-bin/hgPhyloPlace), all of them are found in the brand-new lineage BA.2.37 (from cov-lineages/pango-designation#572) which is in [pango-designation release v1.9](https://github.com/cov-lineages/pango-designation/releases/tag/v1.9).  @aineniamh

[2022-05-20 04:26] lpipes commented on #452
I'm also getting the same error I downloaded `faToVcf` from here (http://hgdownload.cse.ucsc.edu/admin/exe/linux.x86_64/) which was updated May 6, 2022

[2022-05-20 04:44] lpipes commented on #452
It worked for me if I just added `--no-temp` for some reason it ran without an error with that flag

[2022-05-20 08:28] gyebra-phs commented on #455
Hi Angie,

This is super helpful information, thanks for replying so quickly! It makes sense, we'll wait for the new v1.9 and compare.

Thanks a lot for the hard work!

Gonzalo

[2022-05-20 08:52] elrubio89 opened #456 "Conflicting results in historical samples (unassigned). Constellation_version: v0.1.10"
Hello,
We have identified samples with Unassigend linages when updating the constellation version to v0.1.10.
These samples present coverage >0.8. The scorpio call assigns them as: Omicron (Unassigned) or Probable Omicron (Unassigned).

[2022-05-20 08:54] josesho opened #457 "Cannot install pangolin with conda v4.12.0"
Hello,

Using `conda` v4.12.0, I run the command

[code]

which quickly runs into the following error:

[code]

Which seems to me that the required python version for `constellations` has a conflict with the one required for `pangolin`?? Even though it seems there shouldn't be? Not sure if I am missing anything.

Any help is appreciated, thanks!

[2022-05-25 15:09] donutbrew commented on #449
Hi team--is there any update on this issue--the final `lineage` being (incorrectly?) overridden by scorpio? This affects a very large number of sequences.

[2022-05-25 20:10] molly-hetheringtonrauth commented on #449
Wanted to post this here. At Colorado we are seeing the issue that previously assigned lineages are now unassigned as has been discussed above. However we are only seeing this issue on our ONT runs using the V4.1 artic primers, not on our Illumina runs using the V3 artic primers. We have also noticed that the sequences being called as unassigned have low coverage (~10x read depth) between 22,475-2

[2022-05-26 11:03] tjdurant opened #458 "Pangolin --datadir with Usher"
Hello and apologies for this not being an "issue" per say, but I thought that others might have trouble with this as well.

When running pangolin in some settings, we need to version lock the software and the data dependencies to maintain between-run consistency, as I'm sure others aim for as well.

Prior to the v4.x update we were maintaining local snapshots of the pangolin data dependencies (e.g

[2022-05-26 19:26] AngieHinrichs commented on #458
Hi @tjdurant - good question, and "/issues" is a perfectly reasonable place for it.  :)

The short answer is that the usher tree is included in pangolin-data so you don't have to do anything special to add it -- but `--datadir` currently does not support rolling back to older data versions.

In general, containers might be a useful way for you to lock in software and data versions; for example, St

[2022-05-26 21:43] karenbobier commented on #449
We are are also seeing sequences with "Unassigned" for the lineage. ~1/3 of our recent sequences that passed QC having an unassigned lineage. Were using midnight 1200 primers, sequencing on illumina miseq and run pangolin with the staph-b docker image.
pangolearn version: PLEARN-v1.8
pangolin_version: 4.0.6
scorpio_version: 0.3.17
constellation_version: v0.1.10

Some of our sequence with this prob

[2022-05-31 03:08] trilisser opened #459 "another Usher error"
Hi there!
I try to run a standard pangolin analysis:

`pangolin test.fas -t 8`

but it gives me an Usher error (like in #266):
#########################################
Error in rule usher_inference:
    jobid: 3
    output: /tmp/tmpry11mds0/clades.txt
    log: /tmp/tmpry11mds0/logs/usher.log (check log file(s) for error message)
    shell:

Exiting because a job execution failed. Look above for e

[2022-05-31 04:12] trilisser commented on #459
re installation of pangolin saved the day:
`conda env remove --name pangolin
conda env create --name pangolin
conda activate pangolin
conda install -c bioconda -c conda-forge -c defaults pangolin`

[2022-05-31 04:13] #459 closed

[2022-05-31 05:59] KatSteinke commented on #449
We *might* be seeing a trend towards fewer unassigned with ONT's Midnight V3 primers, but it's a little early to tell.
Has anything changed about the weighting of ambiguous nucleotides or such? The affected sequences do meet our national quality criteria of <3000 missing with 4.1 as well, so it surprises me somewhat if that's become so harsh.

[2022-05-31 16:42] EricFournier3 opened #460 "Question regarding UNASSIGNED_LINEAGE_REPORTED"
Hi,

I have the following results in my preprocessing.csv report;
**name,hash,lineage,scorpio_constellations,scorpio_mrca_lineage,scorpio_incompatible_lineages,scorpio_support,scorpio_conflict,scorpio_notes,designated,qc_status,qc_notes
Canada/Qc-L00476699001/2022,86aad0efd5b0917ddabcd63e34b15195,,Omicron (Unassigned),None,,0.82,0.03,scorpio call: Alt alleles 27; Ref alleles 1; Amb alleles 5; Oth

[2022-06-02 17:14] AngieHinrichs commented on #449
It's really difficult to find a combination of mutation lists, thresholds and specific allele rules to get both sensitivity and specificity when distinguishing between BA.2, BA.4 and BA.5 in the presence of Ns and false reversions in different regions from different sequencing methods.  And @aineniamh has many demands on her time, but is actively working on this now, and I will try to help in what

[2022-06-02 17:21] EricFournier3 commented on #460
great @AngieHinrichs , I will try that

[2022-06-02 17:28] EricFournier3 commented on #460
thanks, it works

[2022-06-02 17:52] AngieHinrichs commented on #460
Great, glad to hear it.

[2022-06-02 17:52] #460 closed

[2022-06-02 22:20] rrdavis77 commented on #395
with the latest pangolin-data version 1.9, my jobs are failing when requesting 20GB. The RAM requirements seem to grow after each pangolin-data update :(

[2022-06-03 18:06] kapsakcj commented on #395
^ Can confirm, with my tests using pangolin-data v1.9 it required approximately 19GB of RAM to run pangolearn mode to completion. It failed when 18GB of RAM was allocated
[code]

[2022-06-03 18:46] kapsakcj commented on #441
FYI this issue has been resolved (at least for me) since the latest bioconda build 0.5.4-1 for usher pins `openmpi` 4.1.2. Curious to hear if it has been resolved for others?

The pinning of the openmpi version prevents `cudatoolkit` from being installed. Recipe: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/usher/meta.yaml and PR: https://github.com/bioconda/bioconda-recipes/pu

[2022-06-07 10:16] KatSteinke commented on #441
Same here - no cudatoolkit to be seen in the installed packages, and the environment is a much more manageable size.

[2022-06-08 10:22] aineniamh commented on #395
Thanks for the updated information- I think with so many categories and random forest as it is, I'm not sure what I can do in the short term to resolve this.

We've discussed potentially splitting the model into hierarchical, variant-specific random forests, which should reduce the memory requirements, but will also slow it down. With UShER as the default inference now (and the developer of pangoL

[2022-06-08 20:00] wvuvectors commented on #452
Hi - I ran into this same error after updating to pangolin v4.0.6 from v1.2.124 (OS X Monterey). Then I deleted and re-installed the environment using "conda install -c bioconda -c conda-forge -c defaults pangolin" but it still fails. I have no faToVcf when I run conda list. Everything was fine right before I upgraded to pangolin 4. The --no-temp option doesn't change anything for me and my usher.

[2022-06-08 20:51] AngieHinrichs commented on #452
@wvuvectors Sorry to hear that.  Can you run these commands, and upload the resulting `.log.txt` files to this issue?
[code]
and then also please paste in the output of `conda --version`?

[2022-06-09 02:20] wvuvectors commented on #452
@AngieHinrichs Thanks so much for responding. I've attached the three files here.
`conda --version`
`conda 4.13.0`
[pangolin.install.log.txt](https://github.com/cov-lineages/pangolin/files/8866231/pangolin.install.log.txt)
[pangolin.uninstall.log.txt](https://github.com/cov-lineages/pangolin/files/8866232/pangolin.uninstall.log.txt)
[conda.list.log.txt](https://github.com/cov-lineages/pangolin/fil

[2022-06-09 19:57] AngieHinrichs commented on #452
Thanks for the files @wvuvectors.  From pangolin.uninstall.txt it looks like the installed version of pangolin was pangolin-1.1.14, which did not include usher or ucsc-fatovcf.  But then pangolin.install.log.txt looks unsuccessful and maybe truncated?
[code]
Does anyone on here with more Conda expertise have suggestions for how to get past that?

[2022-06-13 21:00] AngieHinrichs commented on #452
@wvuvectors Glad to hear that worked!

[2022-06-15 19:46] jeansaplische opened #463 "install pangolin"
Good afternoon,
I'm from Brazil
I'm trying to install pangolin in conda and it's giving the following error below.
please someone help?

(pangolin) PS C:\Users\Pokemaster> conda install -c bioconda -c conda-forge -c defaults pangolin
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: fa

[2022-06-15 19:49] aineniamh commented on #463
Hi @jeansaplische, do you have a current installation of pangolin that may be conflicting? I'll be honest, I'm not very familiar with windows installation!

[2022-06-20 00:52] jeansaplische commented on #463
I don't have a conflicting Pangolin installation.
The computer's operating system is Windows 10.
I installed Anaconda 3 inside win10 and I'm trying to install Pangolin inside Anaconda 3.
I will do the installation test with Windows Subsystem Linux.

[2022-06-20 05:17] antarapaul02 opened #465 "Ambiguous_content"
In pangolin 4.0.6, the column qc_note has been introduced into the lineage report. I wanted to clarify if the term 'Ambiguous_content' in the qc note column is as same as 'N_content'.

[2022-06-22 15:07] Boruchf opened #466 "No New Lineages Since March"
Why are there no new lineages since March?

[2022-06-22 20:06] OrsonMM commented on #466
I have the same question, I can check that only Pango-designation is updated. But other tools like scorpio, constellations and pangoLEARN is not.

[2022-06-22 20:46] Boruchf commented on #466
Why are there no new COVID19 lineages in Pango since March?

[2022-06-22 20:47] AngieHinrichs commented on #466
Sorry about the delays and we hope to provide updates fairly soon.  pango-designation releases [v1.10](https://github.com/cov-lineages/pango-designation/releases/tag/v1.10) and [v1.11](https://github.com/cov-lineages/pango-designation/releases/tag/v1.11) were just tagged 6 days ago and earlier today respectively; @aineniamh will train a new pangoLEARN model and I will make a new lineage tree for U

[2022-06-22 20:50] AngieHinrichs commented on #466
@Boruchf are you running pangolin locally to assign lineages to genome sequences, or searching for lineages on GISAID and/or some other website?

[2022-06-30 07:01] HadrienG opened #467 "pangolin --all-versions broken with 4.1"
I'm running pangolin as part of wf-artic (with docker, image: `ontresearch/pangolin:4.0.5`). It failed on this morning's samples:

pangolin 4.0.5:

[code]

after running pangolin --update:

[code]